.content-text-blue {
  font-family: 'IBM Plex Sans';
  text-align: center;
  color: #123273;
  font-size: 1.5625rem;
}

.content-text-blue h3 {
  font-family: 'IBM Plex Sans';
  text-align: center;
  color: #123273;
  font-size: 1.5625rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.content-text-grey {
  font-family: 'IBM Plex Sans';
  text-align: center;
  color: #838383;
  font-size: 1.25rem;
}

.content-whitebox {
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-items: center;
  border: 1px solid #efefef;
}

.content-whitebox-balance {
  border-radius: 3.125rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-items: center;
  border: 1px solid #efefef;
}

.content-whitebox-earnings {
  border-radius: 0.9375rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-items: center;
  border: 1px solid #efefef;
}

.content-whitebox-links {
  border-radius: 0.8125rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-items: center;
  border: 1px solid #efefef;
}

.content-whitebox-news {
  border-radius: 3.75rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-items: left;
  border: 1px solid #efefef;
}

.content-whitebox-news h3 {
  text-align: left;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, $column);
  grid-template-rows: min-content min-content min-content min-content;
  grid-row-gap: 3.75rem;
  grid-column-gap: $gap;
  grid-column: 2 / -2;
  grid-template-areas:
    'cb cb cb cb cb cb cb cb'
    'ce ce ce ce ce ce ce ce'
    'cl cl cl cl cl cl cl cl'
    'cn cn cn cn cn cn cn cn';

  &-balance {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, $column);
    grid-template-rows: min-content (2 * $column + $gap);
    gap: 1.8125rem $gap;
    grid-area: cb;

    &-btc-header {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &-btc-square {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      display: grid;
      grid-template-rows: 60% 40%;
      grid-template-areas: 'btc-square-text' 'btc-square-calc';

      &-text {
        grid-area: btc-square-text;
      }

      &-calc {
        height: 100%;
        width: 100%;
        grid-area: btc-square-calc;
        display: grid;
        border-radius: 0 0 3.125rem 3.125rem;
        background-image: linear-gradient(232deg, #005c9f 0%, #123273 100%);
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-items: center;
        grid-template-areas: 'calc-plus calc-minus';

        &-plus {
          grid-area: calc-plus;
          border-right: 1.5px solid #ffffff;
          width: 100%;
          height: 100%;
          display: grid;
          justify-items: center;
          align-items: center;
          svg {
            fill: #ffffff;
            stroke: #ffffff;
            height: 1em;
            width: auto;
            font-size: 2.5625rem;
          }
        }

        &-minus {
          grid-area: calc-minus;
          border-left: 1.5px solid #ffffff;
          width: 100%;
          height: 100%;
          display: grid;
          justify-items: center;
          align-items: center;
          svg {
            fill: #ffffff;
            stroke: #ffffff;
            height: auto;
            width: 1em;
            font-size: 2.5625rem;
            align-self: center;
          }
        }
      }
    }

    &-btc-dol {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 'arrow-left arrow-right';
    }

    &-arrow-left,
    &-arrow-right {
      align-self: center;
      > svg {
        fill: #ed7102;
        stroke: #ed7102;
        height: 1em;
        width: auto;
        font-size: 3.5rem;
      }
    }

    &-arrow-left {
      grid-area: arrow-left;
      justify-self: start;
    }

    &-arrow-right {
      grid-area: arrow-right;
      justify-self: end;
    }

    &-dol-header {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
    }

    &-dol-square {
      display: grid;
      grid-column: 4 / 6;
      grid-row: 2 / 3;
      height: 100%;
      > h5 {
        align-self: end;
      }
      > h6 {
        align-self: start;
      }
    }

    &-dol-coin {
      grid-column: 6 / 7;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 'arrow-left arrow-right';
    }

    &-coin-header {
      grid-column: 7 / 9;
      grid-row: 1 / 2;
    }

    &-coin-square {
      grid-column: 7 / 9;
      grid-row: 2 / 3;
      display: grid;
      justify-items: center;
      width: 100%;
      height: 100%;
      > h5 {
        align-self: end;
      }
      > h6 {
        align-self: start;
      }
    }
  }

  &-earnings {
    display: grid;
    grid-template-columns: repeat(8, $column);
    grid-template-rows: min-content;
    gap: 0 $gap;
    grid-template-areas: 'ti ti pt pt tp tp gr gr';
    grid-area: ce;

    &-total-invmemb,
    &-profteam,
    &-totalprof,
    &-graph {
      display: grid;
      grid-template-rows: 1.2rem 65px 1.2rem 65px;
      gap: 30px 0;
    }

    &-total-invmemb {
      grid-area: ti;
      grid-template-areas: 'invmemb-invheader' 'invmemb-investments' 'invmemb-membersheader' 'invmemb-members';

      &-invheader {
        grid-area: invmemb-invheader;
      }

      &-investments {
        grid-area: invmemb-investments;
        display: grid;
        height: 100%;
        > h5 {
          align-self: end;
        }
        > h6 {
          align-self: start;
        }
      }

      &-membersheader {
        grid-area: invmemb-membersheader;
      }

      &-members {
        grid-area: invmemb-members;
        display: grid;
        height: 100%;
        > h5 {
          align-self: center;
        }
      }
    }

    &-profteam {
      grid-area: pt;
      grid-template-areas: 'profteam-profheader' 'profteam-profinvestments' 'profteam-totalheader' 'profteam-totalteam';

      &-profheader {
        grid-area: profteam-profheader;
      }

			&-profinvestments {
				grid-area: profteam-profinvestments;
				display: grid;
				height: 100%;
				> h5 {
					align-self: end;
				}
				> h6 {
					align-self: start;
				}
			}

      &-totalheader {
        grid-area: profteam-totalheader;
      }

			&-totalteam {
				grid-area: profteam-totalteam;
				display: grid;
				height: 100%;
				> h5 {
					align-self: end;
				}
				> h6 {
					align-self: start;
				}
			}
		}

    &-totalprof {
      grid-area: tp;
      height: 100%;
      grid-template-areas:
        'totalprof-totalprofheader'
        'totalprof-totalprofsquare'
        'totalprof-totalprofsquare'
        'totalprof-totalprofsquare';

      &-header {
        grid-area: totalprof-totalprofheader;
      }

			&-square {
				grid-area: totalprof-totalprofsquare;
				display: grid;
				align-items: center;
				justify-items: center;
				grid-template-rows: 65px 1.2rem 65px;
				gap: 30px 0;
				grid-template-areas: "totalprofsquare-total" "totalprofsquare-header" "totalprofsquare-hours";

				&-total {
					grid-area: totalprofsquare-total;
					display: grid;
					height: 100%;
					> h5 {
						align-self: end;
					}
					> h6 {
						align-self: start;
					}
				}

        &-header {
          grid-area: totalprofsquare-header;
        }

				&-hours {
					grid-area: totalprofsquare-hours;
					display: grid;
					height: 100%;
					> h5 {
						align-self: end;
					}
					> h6 {
						align-self: start;
					}
				}
			}
		}

    &-graph {
      grid-area: gr;
      grid-template-areas: '.' 'graph' 'graph' 'graph';

      &-plot {
        grid-area: graph;
        display: grid;
        grid-template-rows: 46px calc(100% - 46px);
        grid-template-columns: 100%;
        grid-template-areas: 'graph-rule' 'graph-reached';

        box-shadow: 0 0 23px rgba(0, 0, 0, 0.06);
        background-color: #d1e5f1;
        border-radius: 20px;

        &-rule {
          grid-area: graph-rule;
          border-bottom: 3px solid #253771;
          display: grid;
          align-items: center;
          justify-items: center;
          height: 100%;
          z-index: 2;
        }

        &-reached {
          grid-area: graph-reached;
          display: grid;
          justify-items: center;
          align-items: center;
          position: relative;
          height: 100%;

          &-svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 2 * $column + $gap;
            height: 90%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: 1;
            content: '';
          }

          h5 {
            position: absolute;
            z-index: 2;
            font-family: 'IBM Plex Sans';
            text-align: center;
            color: #f5fbff;
            font-size: 1.5625;
          }
        }
      }
    }
  }
  &-links {
    display: grid;
    grid-template-rows: 4.375rem 4.375rem;
    grid-template-columns: repeat(8, $column);
    gap: 2.375rem $gap;
    grid-template-areas:
      'r r r r r r r r'
      'l l l l l l l l';
    grid-area: cl;

    &-ref {
      display: grid;
      grid-template-columns: repeat(8, $column);
      grid-column-gap: $gap;
      grid-template-areas: 'refbyid refbyid refbyid refbyid refbyusername refbyusername refbyusername refbyusername';
      grid-area: r;
    }

    .refbyid {
      grid-area: refbyid;
      font-size: 1.25rem;
    }

    .refbyusername {
      grid-area: refbyusername;
      font-size: 1.25rem;
    }

    &-links {
      display: grid;
      grid-template-columns: repeat(8, $column);
      grid-column-gap: $gap;
      grid-template-areas: 'p p p i i t t t';
      grid-area: l;

      .presentation-link {
        grid-area: p;
        font-size: 1.25rem;
      }

      .image-video-link {
        grid-area: i;
        font-size: 1.25rem;
      }

      .tutorial-link {
        grid-area: t;
        font-size: 1.25rem;
      }
    }
  }

  &-newslog {
    width: 100%;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(8, $column);
    grid-column-gap: $gap;
    grid-row-gap: 1.25rem;
    grid-template-areas:
      '. nh nh . . lh lh .'
      'n n n n l l l l';
    grid-area: cn;
    align-items: center;
    justify-items: center;

    .content-text-blue-newslogheadings {
      font-family: 'IBM Plex Sans';
      text-align: left;
      color: #123273;
    }

    &-newslogheadings {
      grid-area: nh;
      font-size: 2.5rem;
    }

    &-historyheadings {
      grid-area: lh;
      font-size: 1.5625rem;
    }

    &-news {
      grid-area: n;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: fit-content(200px);
      grid-auto-flow: row;

      &-tab {
        display: grid;
        grid-template-columns: $column - $gap repeat(2, $column) $column - $gap;
        grid-column-gap: $gap;
        grid-row-gap: 22px;
        padding: $gap;
        grid-template-areas:
          'h h h .'
          't t t .'
          'b b b .';
        justify-items: start;
        align-items: center;
        width: 100%;
        border-bottom: 3px solid #cccccc;
        &-heading {
          grid-area: h;
          margin: 0;
        }

        &-text {
          grid-area: t;
          text-align: left;
        }

        &-button {
          grid-area: b;
          display: grid;
          justify-items: center;
          align-items: center;
          font-family: 'IBM Plex Sans';
          font-size: 1.5625rem;
          color: #eb7324;
          // Style for "news-butto"

          width: 2 * $column - $gap;
          height: 2.5rem;
          border: 3px solid #eb7324;
          border-radius: 1.25rem;

          &:hover {
            background-color: #ed7102;
            color: #ffffff;
          }
        }
      }

      &-tab:last-child {
        border: none;
      }
    }

    &-loginhistory {
      grid-area: l;
      border-radius: 3.75rem;
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(40deg, #123273 0%, #005c9f 100%);
      height: 100%;

      display: grid;
      grid-template-columns: $column - $gap repeat(2, $column) $column - $gap;
      grid-auto-rows: fit-content(50px);
      gap: 1.25rem $gap;
      padding: $gap;

      &-header {
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        gap: 0px 10px;
        grid-template-areas: 'timeheader ipheader countryheader';

        > h4 {
          color: #ffffff;
          font-weight: 400;
        }
      }

      &-timeheader {
        grid-area: timeheader;
        justify-self: start;
      }

      &-ipheader {
        grid-area: ipheader;
        justify-self: center;
      }

      &-countryheader {
        justify-self: end;
        grid-area: countryheader;
      }

      &-row {
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        gap: 0px 10px;
        grid-template-areas: 'time ip country';
        align-items: center;

        > h5 {
          color: #ffffff;
          font-weight: 400;
        }

        &-time {
          justify-self: start;
          grid-area: time;
        }

        &-ip {
          justify-self: center;
          grid-area: ip;
        }

        &-country {
          justify-self: end;
          grid-area: country;
        }
      }
    }
  }
}
