.white-text {
	color: #f5fbff;
}

.blue-text {
	color: #123273;
}

.lightblue-text {
	color: #16428d;
}

.gray-text {
	color: #838383;
}

.faq {
	&-box {
		grid-column: 2 / -2;
		display: grid;
		grid-template-rows: min-content min-content;
		grid-template-columns: repeat(8, $column);
		grid-gap: 30px $gap;
		grid-template-areas: "links" "questions";
	}

	&-links {
		grid-area: links;
		display: grid;
		grid-template-columns: repeat(4, 2*$column+$gap);
		grid-column-gap: $gap;
		grid-template-rows: 100%;
		justify-items: center;
		align-items: center;
		&-linkbox {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 37px 86px;
			gap: 22px;
			justify-items: center;
			align-items: center;
			>a {
				// Style for "Intersecti"
				width: 100%;
				height: 86px;
				display: grid;
				justify-items: center;
				align-items: center;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
				background-image: linear-gradient(72deg, #123273 0%, #005c9f 100%);
				border-radius: 15px;
				color: #f5fbff;
				font-size: 1.5rem;
				font-family: 'IBM Plex Sans';
			}
		}
	}

	&-questions {
		grid-area: questions;
		width: 100%;
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: 100%;
		grid-auto-rows: min-content;
		gap: 30px 0; 

		&-tab,
		&-tab-closed {
			display: grid;
			grid-template-columns: 100%;
			grid-auto-rows: 100px min-content;
			align-items: center;
			justify-items: center;
			border-radius: 15px;
			width: 100%;
			height: 100%;
		
			&-panel {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(8, $column);
				grid-column-gap: $gap;
				grid-template-rows: fit-content(100px);
				grid-template-areas: "q q q q q q q d";
				align-items: center;
				h5 {
					grid-area: q;
					margin: 0 0 0 $gap!important;
				}

				>.arrow,
				>.arrow-closed {
					grid-area: d;
					fill: #707070;
					stroke: #707070;
					justify-self: center;
				}

				.arrow {
					transform: rotate(180deg);
				}
			}
		}

		&-tab {
			&-answer {
				width: 100%;
				display: grid;
				justify-items: center;
				align-items: center;
				text-align: justify;
				padding: 0 $column;

				>p {
					margin: 0;
					padding: 25px 0;
					border-top: 2px solid #ebebeb;
					// Style for "Anyone can"
					color: #838383;
					font-family: "IBM Plex Sans";
					font-size: 16px;
					font-weight: 300;
				}
			}
		}

	}	
}
