.investment {
  &-box {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(8, $column);
    gap: 3rem $gap;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "g g g g g g g g"
      "d d d d d d d d"
      "p p p p p p p p"
      "h h h h h h h h";
  }

  &-goods {
    grid-area: g;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $gap;
    grid-template-rows: min-content;

    &-box {
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.08);
      border: 0.0625rem solid #efefef;
      background-color: #ffffff;
      border-radius: $gap;

      display: grid;
      grid-template-rows: 4rem 15rem 2.5rem 2rem;
      grid-template-columns: $gap 1fr $gap;
      grid-template-areas:
        "bh bh bh"
        ". bc ."
        ". bb ."
        ". . .";
      justify-items: center;
      align-items: center;

      &-header {
        grid-area: bh;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(247deg, #005c9f 0%, #123273 100%);
        border-radius: $gap $gap 0 0;
        display: grid;
        justify-items: center;
        align-items: center;

        > h4 {
          color: #ffffff;
          font-weight: 700 !important;
        }
      }

      &-content {
        grid-area: bc;
        padding: 0 2rem;
        > p {
          // Style for "Monthly Pr"
          color: #595b60;
          font-family: "IBM Plex Sans";
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
        }
      }

      &-button {
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 1.75rem;
        grid-area: bb;
        background-image: linear-gradient(77deg, #16428d 0%, #005c9f 100%);
        width: 100%;
        height: 100%;
        // Style for "Invest"
        color: #f5fbff;
        font-family: "IBM Plex Sans";
        font-size: 1.3125rem;
        font-weight: 500;
        letter-spacing: -0.0106rem;
        &:hover {
          background-image: linear-gradient(77deg, #ed7102 0%, #ed7102 100%);
        }
      }
    }
  }

  &-details {
    grid-area: d;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem min-content;
    grid-template-areas: "r" "c";
    justify-items: center;
    align-items: center;

    &-panel {
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
      border-radius: $gap/2 $gap/2 0 0;
      background-color: #ffffff;

      height: 5rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, $column);
      grid-column-gap: $gap;
      grid-template-rows: 5rem;
      grid-template-areas: "q q q q q q q d";
      align-items: center;

      &-header {
        grid-area: q;
        margin: 0 0 0 $gap !important;
        display: grid;
        align-items: center;
        height: 100%;

        > h5 {
          color: #123273;
        }
      }

      &-arrow {
        > .arrow,
        > .arrow-closed {
          grid-area: d;
          fill: #123273;
          stroke: #123273;
          justify-self: center;
        }

        > .arrow {
          transform: rotate(180deg);
        }
      }
    }

    &-panel-closed {
      border-radius: $gap/2;
    }

    &-content {
      grid-area: c;
      display: grid;
      grid-template-columns: $gap 1fr $gap;
      border-radius: 0 0 $gap/2 $gap/2;
      background-color: #ffffff;
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);

      > p {
        grid-column: 2 / 3;
        width: 100%;
        color: #838383;
        font-family: "IBM Plex Sans";
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  &-profit {
    grid-area: p;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    grid-row-gap: 2rem;
    grid-template-areas: "ph" "pc";

    &-header {
      grid-area: ph;
      color: #16428d;
    }

    &-content {
      grid-area: pc;
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
      border: 1px solid #efefef;
      background-color: #ffffff;
      border-radius: $gap;

      display: grid;
      grid-template-columns:
        $gap repeat(2, 3 * (8 * $column - 3 * $gap) / 14)
        repeat(4, (8 * $column - 3 * $gap) / 7) $gap;
      grid-template-rows: 2rem repeat(4, 1fr) 2rem;
      grid-gap: 2.5rem $gap;
      grid-template-areas:
        ". .  .  .  .  .  .  ."
        ". h1 b1 cp cp cp cp ."
        ". h2 b2 cp cp cp cp ."
        ". h3 b3 cp cp cp cp ."
        ". .  .  ce ce ce ce .";

      justify-items: center;
      align-items: center;

      &-header {
        &-1 {
          grid-area: h1;
        }

        &-2 {
          grid-area: h2;
        }

        &-3 {
          grid-area: h3;
        }

        &-1,
        &-2,
        &-3 {
          justify-self: end;
          color: #16428d;
          width: 100%;
        }
      }

      &-box {
        &-1,
        &-2,
        &-3 {
          display: grid;
          width: 100%;
          height: 4.5rem;
          align-items: center;
          justify-items: center;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
          background-image: linear-gradient(250deg, #005c9f 0%, #123273 100%);
          border-radius: 1rem;
          > * {
            width: calc(100% - 2rem);
            background-color: transparent;
            border: none;
            color: #f5fbff;
            font-family: "IBM Plex Sans";
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        &-1 {
          grid-area: b1;
          > input {
            position: relative;
            background-color: transparent;
            border: none;
            color: #f5fbff;
            font-family: "IBM Plex Sans";
            font-size: 1.5rem;
            font-weight: 500;
            border-bottom: 0.1875rem solid rgba(245, 251, 255, 0.5);
            &:after {
              position: absolute;
              top: 0;
              content: "$";
              left: 0;
              color: #f5fbff;
              font-family: "IBM Plex Sans";
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
        }

        &-2 {
          grid-area: b2;
          font-size: 1rem;

          select {
            border-radius: 0.5rem;
            font-size: 1.3rem;
          }

          option {
            background: #123273;
            padding: 0.5rem;
            font-size: 1.3rem;

            &:last-child {
              border-radius: 0 0 0.5rem 0.5rem;
            }
          }
        }

        &-3 {
          grid-area: b3;

          select {
            border-radius: 0.5rem;
            font-size: 1.3rem;
          }

          option {
            background: #123273;
            padding: 0.5rem;
            font-size: 1.3rem;
          }
        }
      }

      &-plot {
        grid-area: cp;
        height: 100%;
        width: 100%;
        svg {
          border-radius: $gap;
          max-width: 100%;
        }
      }

      &-earnings {
        grid-area: ce;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 1rem;
        align-items: center;
        justify-items: center;

        > h5 {
          color: #16428d;
        }
      }
    }
  }

  &-history {
    grid-area: h;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1rem;
    align-items: center;
    justify-items: center;

    &-header {
      color: #16428d;
    }

    &-content {
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
      border: 1px solid #efefef;
      background-color: #ffffff;
      border-radius: $gap;
      border-bottom-right-radius: $gap/1.5;
      display: grid;
      grid-template-columns: repeat(8, $column);
      grid-column-gap: $gap;
      grid-template-rows: min-content min-content;

      &-header {
        height: 3rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(4, 2 * $column + $gap);
        grid-column-gap: $gap;
        justify-items: center;
        align-items: center;
        background-image: linear-gradient(83deg, #123273 0%, #005c9f 100%);
        border-radius: $gap $gap 0 0;
        > h5 {
          color: #ffffff;
        }
      }

      &-box {
        width: 100%;
        height: 15rem;
        display: grid;
        grid-auto-rows: 3rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 1rem;
          background-color: #efefef;
          border-bottom-right-radius: $gap;
          &-button {
            display: none;
          }
          &-thumb {
            background-color: #cccccc;
            border-radius: 0.5rem;
          }
        }
      }

      &-row {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(4, 2 * $column + $gap);
        grid-column-gap: $gap;
        justify-items: center;
        align-items: center;
        height: 3rem;
        &-column {
          text-align: center;
          color: #838383;
        }
      }
    }

    &-download {
      width: 2 * $column + 3 * $gap;
      justify-self: end;
      grid-column: 1 / -1;
      height: 3rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
      background-color: #ffffff;
      border-radius: 1rem;
      border: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      color: #123273;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}
