.marketing {
  &-header {
    color: #16428d;
  }

  &-content-whitebox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, $column);
    grid-template-rows: $column + $gap $column;
    grid-template-areas:
      'i i'
      'd d';
    grid-column-gap: $gap;
    background-color: #ffffff;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-items: center;
    border: 0.0625rem solid #efefef;
    border-radius: $gap;

    &-image {
      width: 100%;
      height: 100%;
      grid-area: i;
      display: grid;
      justify-items: center;
      align-items: center;
      > img {
        height: $column * 0.75;
      }
    }

    &-text {
      grid-area: d;
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      background-image: -webkit-linear-gradient(
        338deg,
        #123273 0%,
        #005c9f 100%
      );
      background-image: -o-linear-gradient(338deg, #123273 0%, #005c9f 100%);
      background-image: linear-gradient(68deg, #123273 0%, #005c9f 100%);
      border-radius: 0 0 $gap $gap;
      > h5 {
        text-align: center;
        color: #ffffff;
      }
    }
  }

  &-box {
    grid-column: 2 / -2;
    display: grid;
    grid-template-rows: 1rem 2 * $column + $gap 1.4rem 1rem 2 * $column + $gap;
    grid-template-columns: repeat(8, $column);
    grid-gap: 1.4rem $gap;
    grid-template-areas:
      'bh bh vh vh fu fu fu fu'
      'bb bb vb vb fu fu fu fu'
      '. . . . . . . .'
      'fh fh ih ih pph pph pvh pvh'
      'fb fb ib ib ppb ppb pvb pvb';
    justify-items: center;
  }

  &-follow {
    height: 100%;
    grid-area: fu;
    display: grid;
    grid-template-columns: repeat(4, $column);
    grid-column-gap: $gap;
    grid-template-rows: 4rem 1fr 1fr 1fr;
    grid-template-areas:
      'fh fh . .'
      'ni nt nt nt'
      'bi bt bt bt'
      'ti tt tt tt';
    > h5 {
      color: #123273;
    }

    &-header {
      grid-area: fh;
      // Style for "Follow Us"
      color: #123273;
      font-family: 'IBM Plex Sans';
      font-size: 1.9rem;
      font-weight: 500;
      justify-self: center;
    }

    &-icon {
      align-self: center;
      justify-self: center;

      &-news {
        grid-area: ni;
        width: 1em;
        font-size: 2rem;
        fill: #123273;
      }

      &-blog {
        grid-area: bi;
      }

      &-telegram {
        height: 1em;
        width: 1em;
        font-size: 2rem;
        grid-area: ti;
        fill: #0088cc;
      }
    }

    &-news,
    &-blog,
    &-telegram {
      & > a {
        color: inherit;
      }
    }

    &-news {
      grid-area: nt;
      display: grid;
      align-items: center;
    }

    &-blog {
      grid-area: bt;
      display: grid;
      align-items: center;
    }

    &-telegram {
      grid-area: tt;
      display: grid;
      align-items: center;
    }
  }

  &-business {
    grid-area: bb;

    &-header {
      grid-area: bh;
    }
  }

  &-video {
    grid-area: vb;

    &-header {
      grid-area: vh;
    }
  }

  &-facebook {
    grid-area: fb;

    &-header {
      grid-area: fh;
    }
  }

  &-instagram {
    grid-area: ib;

    &-header {
      grid-area: ih;
    }
  }

  &-promopictures {
    grid-area: ppb;

    &-header {
      grid-area: pph;
    }
  }

  &-promovideos {
    grid-area: pvb;

    &-header {
      grid-area: pvh;
    }
  }
}
