.header
    .header-wrapper
        .header-logo
            img(class=Logo src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" alt="Logo")
        .header.header-nav
            .header-nav-bar.header-nav-about
                a(href='') About
            .header-nav-bar.header-nav-team
                a(href='') Team
            .header-nav-bar.header-nav-blog
                a(href='') Blog
            .header-nav-bar.header-nav-login
                a(href='') Login
            .header-nav-bar.header-nav-signup
                a.button-main-inversed.button-signup(href='#') Sign Up
