.content
    .content-balance
      .content-balance-btc-header
      .content-balance-btc-square
      .content-balance-btc-dol
      .content-balance-dol-header
      .content-balance-dol-square
      .content-balance-dol-coin
      .content-balance-coin-header
      .content-balance-coin-square
    .content-earnings
      .content-earnings-total-invmemb
      .content-earnings-profteam
      .content-earnings-totalprof
      .content-earnings-graph
    .content-links
      .refbyid
      .refbyusername
      .presentation-link
      .image-video-link
      .tutorial-link
    .content-newslog
      .content-newslog-news
      .content-newslog-loginhistory
