.dash-header
        .dash-header-logo
            img(src="img/logo.png", alt="logo")
        .dash-header-user
            .dash-header-user-icon
                img(src="img/user-icon.png", alt="usericon")
            .dash-header-user-name
                h2 Roland
            .dash-header-user-arrow
                img(src="img/arrow-down.png", alt="arrow-down")

