.sidebar
    .sidebar-burger
    .sidebar-dash.sidebar-bar.sidebar-bar-selected
        .sidebar-bar-icon
            img(src="img/icon-dashboards.png", alt="icon-dashboards")
        .sidebar-bar-text
            h3 Dashboards
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-investment.sidebar-bar
        .sidebar-bar-icon
            img(src="img/icon-investment.png", alt="icon-investment")
        .sidebar-bar-text
            h3 Investment
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-team.sidebar-bar
        .sidebar-bar-icon
            img(src="img/icon-team.png", alt="icon-team")
        .sidebar-bar-text
            h3 Team
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-marketing.sidebar-bar
        .sidebar-bar-icon
            img(src="img/icon-marketing.png", alt="icon-marketing")
        .sidebar-bar-text
            h3 Marketing
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-history.sidebar-bar
        .sidebar-bar-icon
            img(src="img/icon-history.png", alt="icon-history")
        .sidebar-bar-text
            h3 History
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-support.sidebar-bar
        .sidebar-bar-icon
            img(src="img/icon-support.png", alt="icon-support")
        .sidebar-bar-text
            h3 Support
        .sidebar-bar-arrow
            img(src="img/arrow-right.png", alt="arrow-right")
    .sidebar-time
        p Server Time: 04:20:59
