section.career
  .career-wrapper.wrapper
    .career-header
      h1 Career Team
      h2 Commission Plan
    .career-scheme
      img(src="img/career-strips.png"
     srcset="img/career-strips@2x.png 2x, img/career-strips@3x.png 3x" alt="career-strips")
    .career-text
      p Commissions are a part of the weekly earnings of partners in your downline.
      p The exact percentage depends on which level of your downline a partner is seated and on which product you choose.
