section.faq
  .wrapper.faq-wrapper
    .faq-header
      h1 Frequently Asked Questions (FAQs)
    .faq-text
      p Here you’ll find answers to the most common questions our customers ask. If you can’t find your answer here, please email us at <b>contact@defima.io</b> or hit us up on <b>telegram @defimasupport</b>
    .faq-topic
      .faq-topic-1
        .faq-topic-question
          p Who is behind DEFIMA and is DEFIMA trustworthy?
        .faq-topic-arrow
        .faq-topic-answer
          p
      .faq-topic-2
        .faq-topic-question
          p How does DEFIMA protect customer’s assets?
        .faq-topic-arrow
        .faq-topic-answer
          p
      .faq-topic-3-opened
        .faq-topic-question-opened
          p Who can participate?
        .faq-topic-arrow-opened
        .faq-topic-answer-opened
          p Anyone can participate, as long as you have an internet connection (to use our website) and access to a bitcoin wallet (to deposit and Withdraw your money). Also, please note we don’t accept people from the USA and Canada.
      .faq-topic-button
        a(href="#") View All

