section.homescreen
  .wrapper
    .homescreen-grid-container
      h1.homescreen-header The most profitable and secure way to
      <a href="#" class="button-main button-getstarted homescreen-button">Get started</a>
