section.homescreen
  .wrapper
    .homescreen-grid-container
      .homescreen-header
        h1 The most profitable and secure way to get cashflow from the DeFi markets.
      <a href="#" class="button-main button-getstarted homescreen-button">Get started</a>
