section.howitworks
  .howitworks-wrapper.wrapper
    .howitworks-header
      h1 How It Works
      h2 Business model
    .howitworks-scheme
      img(src="img/howitworks_scheme.png", alt="howitworks_scheme")
    .howitworks-image-1
      img(src="img/howitworks-icon-1.png", alt="howitworks-icon-1")
    .howitworks-caption-1
      h3 Investor
      p The Investor deposits and buys a product.
    .howitworks-image-2
      img(src="img/howitworks-icon-2.png", alt="howitworks-icon-2")
    .howitworks-caption-2
      h3 Defima Pool
      p Every Investor is a small part of the Defima pool. With this pool, we are able to get the best profits in the market.
    .howitworks-image-3
      img(src="img/howitworks-icon-3.png", alt="howitworks-icon-3")
    .howitworks-caption-3
      h3 Defima Oracle
      p Together with Artificial Intelligence, our finance experts invest in safe and highly profitable investment opportunities in the DeFi market.
    .howitworks-image-4
      img(src="img/howitworks-icon-4.png", alt="howitworks-icon-4")
    .howitworks-caption-4
      h3 DeFi Markets
      p We close the positions and collect all profits from the DeFi markets every week. We pay all our investors and keep a small amount as a backup in the Defima pool.
