section.joinus
  .wrapper.joinus-wrapper
    .joinus-header
      h1 Join the Defima Platform Now
    .joinus-content
      .joinus-content-point-1
        .joinus-content-check
          i.far.fa-check-circle
        .joinus-content-text
          p Starting from <span>$100</span>
      .joinus-content-point-2
        .joinus-content-check
          i.far.fa-check-circle
        .joinus-content-text
          p Earn up to <span>132%</span> APY
      .joinus-content-point-3
        .joinus-content-check
          i.far.fa-check-circle
        .joinus-content-text
          p Affiliate commission in <span>1-7</span> Levels
    .joinus-buttons
      .joinus-buttons-getstarted
        a(href="#") Get started
      .joinus-buttons-download
        a(href="#") Download presentation
