section.ourteam
  .wrapper.ourteam-wrapper
    .ourteam-header
      h1 About Us
      h2 Employee Spotlight
    .ourteam-member
      .ourteam-member-photo-1
        img(src="img/member-photo-1.png", alt="member-photo-1")
      .ourteam-member-caption-1
        .ourteam-member-name
          p Thomas
        .ourteam-member-post
          p CEO & Founder
        .ourteam-member-mailbutton
          a(href="#")
            <i class="fas fa-envelope"></i>
      .ourteam-member-photo-2
        img(src="img/member-photo-2.png", alt="member-photo-2")
      .ourteam-member-caption-2
        .ourteam-member-name
          p Scarlett
        .ourteam-member-post
          p CEO & Founder
        .ourteam-member-mailbutton
          a(href="#")
            <i class="fas fa-envelope"></i>
      .ourteam-member-photo-3
        img(src="img/member-photo-3.png", alt="member-photo-3")
      .ourteam-member-caption-3
        .ourteam-member-name
          p Cagdas
        .ourteam-member-post
          p Brand Ambassador
        .ourteam-member-mailbutton
          a(href="#")
            <i class="fas fa-envelope"></i>
