@import "utils/normalize";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-width: 0 0 2px 0;
  border-bottom-color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}

@media (max-width: 767.98px) {
  .comingsoon {
    width: 100%;

    &-wrapper {
      border-bottom-left-radius: 73.7px;
      border: none;
      height: 100vh;
      background: url(./utils/img/waveimage.png) 40% 10% / auto 80% no-repeat, linear-gradient(61deg, #001029 4%, #235fc8 98%) left top/100% 100%;
      .comingsoon-grid-container {
        display: grid;
        height: 100%;
        margin: 0;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 30% 8% 25%;
        gap: 0px 0px;
        grid-template-areas: "comingsoon-logobox" "comingsoon-h1-box" "comingsoon-h2-box" "comingsoon-form-box";
      }

      .comingsoon-logobox {
        grid-area: comingsoon-logobox;
        align-self: end;
        img {
          width: 70%;
        }
      }

      .comingsoon-h1-box {
        justify-self: center;
        grid-area: comingsoon-h1-box;
        align-self: end;
        h1 {
          width: 75%;
          margin: 0;
          font-family: IBMPlexSans;
          font-size: 20px;
          font-size: 40px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.3;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }

      .comingsoon-h2-box {
        grid-area: comingsoon-h2-box;
        h2 {
          margin: 0;
          width: 72%;
          font-family: IBMPlexSans;
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.35;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }

      .comingsoon-form-box {
        grid-area: comingsoon-form-box;
        align-items: center;
        justify-items: center;
        width: 80.5%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 50%;
        .commingsoon-input-text {
          min-width: 312px;
          background: none;
          height: 38px;
          font-family: IBMPlexSans;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          padding: 0 0 10.5px 0;
          border-width: 0 0 2px 0;
          border-bottom-color: #ffffff;
          ::placeholder {
            color: #ffffff;
            opacity: 0.5;
          }
          ::-webkit-input-placeholder {
            color: #ffffff;
            opacity: 0.5;
          }
        }
        .comingsoon-input-button {
          width: 220px;
          height: 60px;
          border-radius: 30px;
          border-width: 0;
          background-color: #ed7102;
          font-family: IBMPlexSans;
          font-size: 25px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin-top: 36.5px;
        }
      }
    }
  }
}

@media (min-width: 767.98px) {
  .comingsoon {
    width: 100%;
    .comingsoon-wrapper {
      border-bottom-left-radius: 150px;
      border: none;
      height: 100vh;
      background: url(./utils/img/waveimage.png) 10.9% -60px/78.2% auto no-repeat, linear-gradient(61deg, #001029 4%, #235fc8 98%) left top no-repeat;
      background-clip: padding-box;
      .comingsoon-grid-container {
        display: grid;
        height: 100%;
        margin: 0;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 33.9% 20.8% 3.1% min-content;
        gap: 0px 0px;
        grid-template-areas: "comingsoon-logobox" "comingsoon-h1-box" "comingsoon-h2-box" "comingsoon-form-box";
      }
      .comingsoon-logobox {
        grid-area: comingsoon-logobox;
        align-self: end;
        img {
        }
      }

      .comingsoon-h1-box {
        justify-self: center;
        grid-area: comingsoon-h1-box;
        align-self: end;
        h1 {
          margin: 0;
          font-family: IBMPlexSans;
          font-size: 60px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }

      .comingsoon-h2-box {
        grid-area: comingsoon-h2-box;
        h2 {
          margin: 0;

          font-family: IBMPlexSans;
          font-size: 25px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }

      .comingsoon-form-box {
        margin-top: 90px;
        grid-area: comingsoon-form-box;
        align-self: center;
        .commingsoon-input-text {
          min-width: 400px;
          background: none;
          height: 38px;
          font-family: IBMPlexSans;
          font-size: 25px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          padding: 0 0 10.5px 0;
          border-width: 0 0 2px 0;
          border-bottom-color: #ffffff;
          ::placeholder {
            color: #ffffff;
            opacity: 0.5;
          }
          ::-webkit-input-placeholder {
            color: #ffffff;
            opacity: 0.5;
          }
        }
        .comingsoon-input-button {
          width: 220px;
          height: 60px;
          border-radius: 30px;
          border-width: 0;
          background-color: #ed7102;
          font-family: "IBMPlexSans";
          font-size: 25px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin-left: 43.5px;
        }
      }

      .comingsoon-thanks-box {
        grid-area: comingsoon-form-box;
        align-self: center;
        p {
          color: #ffffff;
          font-family: "IBM Plex Sans";
          font-size: 25px;
          font-weight: 300;
        }
      }
    }
  }
}

.none {
  display: none;
}
