html, body, .dash-wrapper { height: 100%; margin: 0; }

@import "utils/normalize";

.dash-wrapper {

    h3 {
        // Style for "Investment"
        color: #f5fbff;
        font-family: "IBM Plex Sans";
        font-size: 25px;
        font-weight: 500;
        margin: 0;
    }

    display: grid;
    grid-template-columns: 20.83% 79.77%;
    grid-template-rows: 10% 90%;
    gap: 1px 1px;
    grid-template-areas: "header header" "sidebar dash-content";
}

.dash-wrapper-closed {
  display: grid;
  grid-template-columns: 20.83% 1fr;
  grid-template-rows: 3% 1fr;
  gap: 1px 1px;
  grid-template-areas: "header header" "sidebar content";
}

.dash-header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: dash-content;
}

@import "common/dashboard/header";

@import "common/dashboard/sidebar";

@import "common/dashboard/content";
