html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

@import "utils/normalize";

@import "utils/variables";

@import "mixins/utility";

@import "common/dashboard/dash";

@import "common/dashboard/header";

@import "common/dashboard/sidebar";

@import "common/dashboard/content";

@import "common/investment/investment";

@import "common/faq/faq";

@import "common/marketing/marketing";

@import "common/dashboard/modals";


