html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

@import "utils/normalize";

@import "utils/variables";

@import "mixins/utility";

@import "common/account/dash";

@import "common/account/header";

@import "common/account/sidebar";

@import "common/account/modals";

@import "common/account/content/dashboard";

@import "common/account/content/investment";

@import "common/account/content/faq";

@import "common/account/content/marketing";

@import 'common/account/content/team';

@import 'common/account/content/settings';

@import 'common/account/content/history';



