section.login
    .login-wrapper.wrapper
        .login-header
            h1 Login to defima
        form.login-form
            input(class="login-form-user" type="text" placeholder="Username")
            input(class="login-form-password" type="text" placeholder="Password")
            button(class="login-form-button" type="submit") Login
        .login-forgot
            p Forgot your password?&#32
                a(href="#") Restore it.

