@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
}
@media (min-width: 992px) {
    .header-grid-container {
        padding-left: 140px;
        padding-right: 96px;
    }
    section {
      .wrapper {
          width:100%;
          padding-left: 140px;
          padding-right: 96px;
      }
    }
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
h1, h2, h3 {
  margin: 0;
}
