.homescreen {
  width: 100%;
  margin-top: -120px;
  padding-top: 120px;
  .wrapper {
      height: 100vh;
      border-bottom-left-radius: 150px;
      border: none;
      .homescreen-grid-container {
          display: grid;
          height: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 29.4% min-content minmax(20px, 14.4%) 60px 32.2%;
          gap: 1px 0px;
          grid-template-areas: "gap1" "homescreen-header" "gap2" "homescreen-button" "gap3";
      }
      .homescreen-button { grid-area: homescreen-button; }

      .homescreen-header { grid-area: homescreen-header; }

      h1 {
          max-width: 1100px;
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 60px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin: 0;
      }
      .button-main {
        width: 240px;
        height: 60px;
        border-radius: 30px;
        background-color: #ed7102;
      }

      .button-getstarted {
        font-family: IBMPlexSans;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        padding: 13px 31px 13px 31px;
      }
  }
}
