$section: "joinus";
$sub-section: "content";
.#{$section} {


  &-wrapper {
    padding-top: 175px;
    padding-bottom: 135px;

    display: grid;
    grid-template-columns: 57.37% 42.63%;
    grid-template-rows: 139px 220px min-content;
    gap: 81px 0;
    grid-template-areas: "gap joinus-header" "gap joinus-content" "gap joinus-buttons";
  }
  &-header {
    grid-area: joinus-header;

    h1 {
    font-family: IBMPlexSans;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #005c9f;
    }
  }
  &-#{$sub-section} {
    grid-area: #{"joinus-"+$sub-section};

    display: grid;
    grid-template-rows: 52px 52px 52px;
    grid-template-columns: 100%;
    grid-template-areas: "joinus-content-point-1" "joinus-content-point-2" "joinus-content-point-3";
    gap: 32px 0;
    align-items: center;

    @for $i from 1 through 3 {
      &-point-#{$i} {
        width: 100%;
        grid-area: joinus-content-point-#{$i};
        display: grid;
        grid-template-columns: 52px calc(100% - 84px);
        grid-template-rows: 52px;
        gap: 0 32px;
        grid-template-areas: "point-check point-text";
        align-items: center;
      }
    }
    &-check {
      grid-area: point-check;
      i {
        font-size: 52px;
        color: #005c9f;
      }
    }
    &-text {
      grid-area: point-text;
      margin-left: 32px;
      width: calc(100% - 84px);
      p {
        margin: 0;
        font-family: IBMPlexSans;
        font-size: 35px;
        font-weight: 200;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #005c9f;
        span {
          font-weight: 600;
          font-family: IBMPlexSans;
          font-size: 35px;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;

          border-bottom:7px solid #ed7102;
        }
      }
    }
  }

  &-buttons {
    grid-area: joinus-buttons;

    display: grid;
    grid-template-columns: 240px 315px;
    gap: 0 30px;
    grid-template-areas: "joinus-getstarted joinus-download";
    grid-template-rows: 60px;
    align-items: center;
    &-getstarted {
      grid-area: joinus-getstarted;
      a {
        display: block;
        width: 240px;
        height: 60px;
        border-radius: 30px;
        border: 3px solid #ed7102;
        background-color: #ed7102;

        font-family: IBMPlexSans;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        padding: 13px 31px 13px 31px;

        &:hover {
          background-color: #ffffff;
          color: #ed7102;
          border: 3px solid #ed7102;
          line-height: 1.31;
        }
      }
    }
    &-download {
      grid-area: joinus-download;
      a {
        display: block;
        width: 315px;
        height: 60px;
        border-radius: 30px;
        border: 3px solid #ed7102;
        background-color: #ffffff;

        font-family: IBMPlexSans;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        color: #ed7102;

        padding: 13px 31px 13px 31px;

        &:hover {
          background-color: #ed7102;
          color: #ffffff;
          border: 3px solid #ffffff;
          line-height: 1.31;
        }
      }
    }
  }
}
