header {
  background-color: linear-gradient(61deg, #001029 4%, #235fc8 98%);
  opacity: 1;
}

.homescreen {
  .wrapper {
      background-image: url(../img/waveimage.png) 248.9px -120px no-repeat, linear-gradient(61deg, #001029 4%, #235fc8 98%) left top no-repeat;
      background-clip: padding-box;
  }
}

.ourmission {
  position: relative;
  &:before {
    position: absolute;
    background-image: url(../img/stealth-logo.png) 0 -50px/17.55% auto no-repeat;
    height: 100%;
    width: 100%;
    content: "";
    z-index:1;
  }
}

.header-grid-container {
  background-color: #ffffff;
}

.portfolio {
  border-radius: 0px 0px 0px 150px;
  background-image: url(../img/worldmap2.png) 0 0/ 100% auto no-repeat, linear-gradient(39deg, #ed7102 0%, #ed7102 100%) left top no-repeat;
  background-blend-mode: screen;
}

.howitworks {
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-image:  linear-gradient(39deg, #ed7102 0%, #ed7102 100%) left bottom/ 100% 150px no-repeat;
    border-radius: 0;
    content: "";
    z-index: -5;
  }

  background-image: linear-gradient(0deg, #f5fbff 100%, #f5fbff 100%) left top/ 100% auto no-repeat;
  border-radius: 150px 0px 150px 0px;
}

.defimatoken {
  background-image: url(../img/worldmap2.png) 11.56% 0/100vw auto no-repeat, linear-gradient(97deg, #001029 -39%, #235fc8 76%) left top no-repeat;
  border-radius: 0px 150px 0px 0px;
}

.ourteam {
  position: relative;
  &:before {
    position: absolute;
    background-image: url(../img/stealth-logo.png) 0 -50px/17.55% auto no-repeat;
    height: 100%;
    width: 100%;
    content: "";
    z-index:1;
  }
}

.joinus {
  background-image: url(../img/joinus-background.png) left top/100vw auto no-repeat, linear-gradient(0deg, #f5fbff 100%, #f5fbff 100%) left top/ 100% auto no-repeat;
  border-radius: 150px 0px 150px 0px;
}

.faq {
  border-radius: 0px 0px 0px 150px;
  background-image: linear-gradient(39deg, #ffffff 100%, #ffffff 100%) left top no-repeat;
}
.feedback {
  position: relative;
  background: none;
  &:before {
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: calc(100% + 300px);
    background-image: linear-gradient(39deg, #061d4d 0%, #005c9f 100%) left top no-repeat;
    border-radius: 0;
    content: "";
    z-index: -5;
  }
}
footer {
  border-radius: 0px 150px 0px 0px;
  background-color: #0b1f48;
}
