<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <TimeStampOfAssociatedLegacyPublishXmlFile />
    <EncryptedPassword />
    <_PublishTargetUrl>ftp://185.100.85.98</_PublishTargetUrl>
  </PropertyGroup>
  <ItemGroup>
    <File Include="api-ms-win-core-console-l1-1-0.dll">
      <publishTime>04/20/2018 07:28:52</publishTime>
    </File>
    <File Include="api-ms-win-core-datetime-l1-1-0.dll">
      <publishTime>04/20/2018 07:28:50</publishTime>
    </File>
    <File Include="api-ms-win-core-debug-l1-1-0.dll">
      <publishTime>04/20/2018 07:28:56</publishTime>
    </File>
    <File Include="api-ms-win-core-errorhandling-l1-1-0.dll">
      <publishTime>04/20/2018 07:28:58</publishTime>
    </File>
    <File Include="api-ms-win-core-file-l1-1-0.dll">
      <publishTime>04/20/2018 07:29:02</publishTime>
    </File>
    <File Include="api-ms-win-core-file-l1-2-0.dll">
      <publishTime>04/20/2018 07:37:18</publishTime>
    </File>
    <File Include="api-ms-win-core-file-l2-1-0.dll">
      <publishTime>04/20/2018 07:37:22</publishTime>
    </File>
    <File Include="api-ms-win-core-handle-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:34</publishTime>
    </File>
    <File Include="api-ms-win-core-heap-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-core-interlocked-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:38</publishTime>
    </File>
    <File Include="api-ms-win-core-libraryloader-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:14</publishTime>
    </File>
    <File Include="api-ms-win-core-localization-l1-2-0.dll">
      <publishTime>04/20/2018 07:37:18</publishTime>
    </File>
    <File Include="api-ms-win-core-memory-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:20</publishTime>
    </File>
    <File Include="api-ms-win-core-namedpipe-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:42</publishTime>
    </File>
    <File Include="api-ms-win-core-processenvironment-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-core-processthreads-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:22</publishTime>
    </File>
    <File Include="api-ms-win-core-processthreads-l1-1-1.dll">
      <publishTime>04/20/2018 07:37:24</publishTime>
    </File>
    <File Include="api-ms-win-core-profile-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:34</publishTime>
    </File>
    <File Include="api-ms-win-core-rtlsupport-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:34</publishTime>
    </File>
    <File Include="api-ms-win-core-string-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:22</publishTime>
    </File>
    <File Include="api-ms-win-core-synch-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:24</publishTime>
    </File>
    <File Include="api-ms-win-core-synch-l1-2-0.dll">
      <publishTime>04/20/2018 07:37:20</publishTime>
    </File>
    <File Include="api-ms-win-core-sysinfo-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-core-timezone-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:24</publishTime>
    </File>
    <File Include="api-ms-win-core-util-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:38</publishTime>
    </File>
    <File Include="api-ms-win-crt-conio-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:26</publishTime>
    </File>
    <File Include="api-ms-win-crt-convert-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:24</publishTime>
    </File>
    <File Include="api-ms-win-crt-environment-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-crt-filesystem-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:26</publishTime>
    </File>
    <File Include="api-ms-win-crt-heap-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-crt-locale-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:36</publishTime>
    </File>
    <File Include="api-ms-win-crt-math-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:18</publishTime>
    </File>
    <File Include="api-ms-win-crt-multibyte-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:20</publishTime>
    </File>
    <File Include="api-ms-win-crt-private-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:26</publishTime>
    </File>
    <File Include="api-ms-win-crt-process-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:26</publishTime>
    </File>
    <File Include="api-ms-win-crt-runtime-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:26</publishTime>
    </File>
    <File Include="api-ms-win-crt-stdio-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:30</publishTime>
    </File>
    <File Include="api-ms-win-crt-string-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:32</publishTime>
    </File>
    <File Include="api-ms-win-crt-time-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:30</publishTime>
    </File>
    <File Include="api-ms-win-crt-utility-l1-1-0.dll">
      <publishTime>04/20/2018 07:37:38</publishTime>
    </File>
    <File Include="appsettings.json">
      <publishTime>07/05/2020 19:36:35</publishTime>
    </File>
    <File Include="aspnetcorev2_inprocess.dll">
      <publishTime>01/23/2020 21:13:38</publishTime>
    </File>
    <File Include="AutoMapper.dll">
      <publishTime>07/13/2020 22:00:10</publishTime>
    </File>
    <File Include="AutoMapper.Extensions.Microsoft.DependencyInjection.dll">
      <publishTime>07/13/2020 22:00:10</publishTime>
    </File>
    <File Include="clrcompression.dll">
      <publishTime>01/17/2020 13:52:34</publishTime>
    </File>
    <File Include="clretwrc.dll">
      <publishTime>01/17/2020 02:47:32</publishTime>
    </File>
    <File Include="clrjit.dll">
      <publishTime>01/17/2020 02:47:56</publishTime>
    </File>
    <File Include="coreclr.dll">
      <publishTime>01/17/2020 02:47:30</publishTime>
    </File>
    <File Include="Crypto.deps.json">
      <publishTime>07/13/2020 22:01:12</publishTime>
    </File>
    <File Include="Crypto.dll">
      <publishTime>07/13/2020 22:00:26</publishTime>
    </File>
    <File Include="Crypto.exe">
      <publishTime>07/13/2020 21:58:49</publishTime>
    </File>
    <File Include="Crypto.pdb">
      <publishTime>07/13/2020 21:58:49</publishTime>
    </File>
    <File Include="Crypto.runtimeconfig.json">
      <publishTime>06/22/2020 21:55:41</publishTime>
    </File>
    <File Include="cs/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="cs/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="cs/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="dbgshim.dll">
      <publishTime>01/17/2020 02:47:30</publishTime>
    </File>
    <File Include="DBRepository.dll">
      <publishTime>07/13/2020 22:00:26</publishTime>
    </File>
    <File Include="DBRepository.pdb">
      <publishTime>07/13/2020 21:58:31</publishTime>
    </File>
    <File Include="de/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="de/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="de/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="dotnet-aspnet-codegenerator-design.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="es/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="es/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="es/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="fr/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="fr/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="fr/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="hostfxr.dll">
      <publishTime>01/17/2020 16:49:30</publishTime>
    </File>
    <File Include="hostpolicy.dll">
      <publishTime>01/17/2020 16:49:28</publishTime>
    </File>
    <File Include="it/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="it/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="it/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="ja/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="ja/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="ja/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="ko/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="ko/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="ko/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="libuv.dll">
      <publishTime>06/13/2017 17:19:04</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Antiforgery.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.Abstractions.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.Cookies.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.Core.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.JwtBearer.dll">
      <publishTime>07/13/2020 22:00:11</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authentication.OAuth.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authorization.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Authorization.Policy.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Components.Authorization.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Components.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Components.Forms.dll">
      <publishTime>07/13/2020 22:00:52</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Components.Server.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Components.Web.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Connections.Abstractions.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.CookiePolicy.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Cors.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Cryptography.Internal.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Cryptography.KeyDerivation.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.DataProtection.Abstractions.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.DataProtection.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.DataProtection.Extensions.dll">
      <publishTime>07/13/2020 22:00:53</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Diagnostics.Abstractions.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Diagnostics.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Diagnostics.HealthChecks.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.HostFiltering.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Hosting.Abstractions.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Hosting.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Hosting.Server.Abstractions.dll">
      <publishTime>07/13/2020 22:00:54</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Html.Abstractions.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.Abstractions.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.Connections.Common.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.Connections.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.Extensions.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Http.Features.dll">
      <publishTime>07/13/2020 22:00:55</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.HttpOverrides.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.HttpsPolicy.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Identity.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.JsonPatch.dll">
      <publishTime>07/13/2020 22:00:11</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Localization.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Localization.Routing.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Metadata.dll">
      <publishTime>07/13/2020 21:59:51</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Abstractions.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.ApiExplorer.dll">
      <publishTime>07/13/2020 22:00:56</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Core.dll">
      <publishTime>07/13/2020 22:00:57</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Cors.dll">
      <publishTime>07/13/2020 22:00:57</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.DataAnnotations.dll">
      <publishTime>07/13/2020 22:00:57</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Formatters.Json.dll">
      <publishTime>07/13/2020 21:59:51</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Formatters.Xml.dll">
      <publishTime>07/13/2020 22:00:57</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Localization.dll">
      <publishTime>07/13/2020 22:00:57</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Razor.dll">
      <publishTime>07/13/2020 22:00:58</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.Razor.Extensions.dll">
      <publishTime>07/13/2020 22:00:11</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.RazorPages.dll">
      <publishTime>07/13/2020 22:00:58</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.TagHelpers.dll">
      <publishTime>07/13/2020 22:00:58</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Mvc.ViewFeatures.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.NodeServices.dll">
      <publishTime>07/13/2020 22:00:11</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Razor.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Razor.Language.dll">
      <publishTime>07/13/2020 22:00:13</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Razor.Runtime.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.ResponseCaching.Abstractions.dll">
      <publishTime>07/13/2020 21:59:51</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.ResponseCaching.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.ResponseCompression.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Rewrite.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Routing.Abstractions.dll">
      <publishTime>07/13/2020 22:00:59</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Routing.dll">
      <publishTime>07/13/2020 22:01:00</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.HttpSys.dll">
      <publishTime>07/13/2020 22:01:00</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.IIS.dll">
      <publishTime>07/13/2020 22:01:00</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.IISIntegration.dll">
      <publishTime>07/13/2020 22:01:00</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.Core.dll">
      <publishTime>07/13/2020 22:01:01</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.dll">
      <publishTime>07/13/2020 22:01:01</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.Https.dll">
      <publishTime>07/13/2020 22:00:13</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll">
      <publishTime>07/13/2020 22:00:13</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.dll">
      <publishTime>07/13/2020 22:00:13</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll">
      <publishTime>07/13/2020 22:01:01</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.Session.dll">
      <publishTime>07/13/2020 22:01:01</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.SignalR.Common.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.SignalR.Core.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.SignalR.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.SignalR.Protocols.Json.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.SpaServices.dll">
      <publishTime>07/13/2020 22:00:13</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.StaticFiles.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.WebSockets.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.AspNetCore.WebUtilities.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.CodeAnalysis.CSharp.dll">
      <publishTime>07/13/2020 22:00:15</publishTime>
    </File>
    <File Include="Microsoft.CodeAnalysis.CSharp.Workspaces.dll">
      <publishTime>07/13/2020 22:00:15</publishTime>
    </File>
    <File Include="Microsoft.CodeAnalysis.dll">
      <publishTime>07/13/2020 22:00:14</publishTime>
    </File>
    <File Include="Microsoft.CodeAnalysis.Razor.dll">
      <publishTime>07/13/2020 22:00:15</publishTime>
    </File>
    <File Include="Microsoft.CodeAnalysis.Workspaces.dll">
      <publishTime>07/13/2020 22:00:16</publishTime>
    </File>
    <File Include="Microsoft.CSharp.dll">
      <publishTime>07/13/2020 22:00:27</publishTime>
    </File>
    <File Include="Microsoft.DiaSymReader.Native.amd64.dll">
      <publishTime>12/04/2017 17:36:44</publishTime>
    </File>
    <File Include="Microsoft.DotNet.PlatformAbstractions.dll">
      <publishTime>07/13/2020 22:00:16</publishTime>
    </File>
    <File Include="Microsoft.EntityFrameworkCore.Design.dll">
      <publishTime>07/13/2020 22:00:18</publishTime>
    </File>
    <File Include="Microsoft.EntityFrameworkCore.dll">
      <publishTime>07/13/2020 22:00:18</publishTime>
    </File>
    <File Include="Microsoft.EntityFrameworkCore.Relational.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.EntityFrameworkCore.SqlServer.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Caching.Abstractions.dll">
      <publishTime>07/13/2020 22:01:02</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Caching.Memory.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.Abstractions.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.Binder.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.CommandLine.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.EnvironmentVariables.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.FileExtensions.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.Ini.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.Json.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.KeyPerFile.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.UserSecrets.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Configuration.Xml.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.DependencyInjection.Abstractions.dll">
      <publishTime>07/13/2020 22:01:03</publishTime>
    </File>
    <File Include="Microsoft.Extensions.DependencyInjection.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.DependencyModel.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Diagnostics.HealthChecks.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.FileProviders.Abstractions.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.FileProviders.Composite.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.FileProviders.Embedded.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.FileProviders.Physical.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.FileSystemGlobbing.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Hosting.Abstractions.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Hosting.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Http.dll">
      <publishTime>07/13/2020 22:01:04</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Identity.Core.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Identity.Stores.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Localization.Abstractions.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Localization.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.Abstractions.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.Configuration.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.Console.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.Debug.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.EventLog.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.EventSource.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Logging.TraceSource.dll">
      <publishTime>07/13/2020 22:01:05</publishTime>
    </File>
    <File Include="Microsoft.Extensions.ObjectPool.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Options.ConfigurationExtensions.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Options.DataAnnotations.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Options.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.Primitives.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Extensions.WebEncoders.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.IdentityModel.Logging.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.IdentityModel.Protocols.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll">
      <publishTime>07/13/2020 22:00:19</publishTime>
    </File>
    <File Include="Microsoft.IdentityModel.Tokens.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.JSInterop.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.Net.Http.Headers.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.BrowserLink.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.Core.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll">
      <publishTime>07/13/2020 22:00:20</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll">
      <publishTime>07/13/2020 22:00:21</publishTime>
    </File>
    <File Include="Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll">
      <publishTime>07/13/2020 22:00:21</publishTime>
    </File>
    <File Include="Microsoft.Win32.Primitives.dll">
      <publishTime>07/13/2020 22:00:27</publishTime>
    </File>
    <File Include="Microsoft.Win32.Registry.dll">
      <publishTime>07/13/2020 22:00:27</publishTime>
    </File>
    <File Include="Microsoft.Win32.SystemEvents.dll">
      <publishTime>07/13/2020 22:01:06</publishTime>
    </File>
    <File Include="Models.dll">
      <publishTime>07/13/2020 22:00:26</publishTime>
    </File>
    <File Include="Models.pdb">
      <publishTime>07/13/2020 21:58:29</publishTime>
    </File>
    <File Include="mscordaccore.dll">
      <publishTime>01/17/2020 02:47:14</publishTime>
    </File>
    <File Include="mscordaccore_amd64_amd64_4.700.20.6603.dll">
      <publishTime>01/17/2020 02:47:14</publishTime>
    </File>
    <File Include="mscordbi.dll">
      <publishTime>01/17/2020 02:47:32</publishTime>
    </File>
    <File Include="mscorrc.debug.dll">
      <publishTime>01/17/2020 02:47:30</publishTime>
    </File>
    <File Include="mscorrc.dll">
      <publishTime>01/17/2020 02:47:32</publishTime>
    </File>
    <File Include="Newtonsoft.Json.Bson.dll">
      <publishTime>07/13/2020 22:00:22</publishTime>
    </File>
    <File Include="Newtonsoft.Json.dll">
      <publishTime>07/13/2020 22:00:22</publishTime>
    </File>
    <File Include="NuGet.Frameworks.dll">
      <publishTime>07/13/2020 22:00:22</publishTime>
    </File>
    <File Include="pl/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="pl/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="pl/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="pt-BR/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:00</publishTime>
    </File>
    <File Include="pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="Remotion.Linq.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="ru/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="ru/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:02</publishTime>
    </File>
    <File Include="ru/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="sni.dll">
      <publishTime>07/12/2017 11:24:22</publishTime>
    </File>
    <File Include="SOS_README.md">
      <publishTime>01/17/2020 02:24:32</publishTime>
    </File>
    <File Include="System.Collections.Concurrent.dll">
      <publishTime>01/17/2020 16:49:34</publishTime>
    </File>
    <File Include="System.Collections.dll">
      <publishTime>01/17/2020 16:49:30</publishTime>
    </File>
    <File Include="System.Collections.Immutable.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.Collections.NonGeneric.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.Collections.Specialized.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.ComponentModel.Annotations.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.ComponentModel.dll">
      <publishTime>07/13/2020 22:00:29</publishTime>
    </File>
    <File Include="System.ComponentModel.EventBasedAsync.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.ComponentModel.Primitives.dll">
      <publishTime>07/13/2020 22:00:28</publishTime>
    </File>
    <File Include="System.ComponentModel.TypeConverter.dll">
      <publishTime>07/13/2020 22:00:29</publishTime>
    </File>
    <File Include="System.Composition.AttributedModel.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="System.Composition.Convention.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="System.Composition.Hosting.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="System.Composition.Runtime.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="System.Composition.TypedParts.dll">
      <publishTime>07/13/2020 22:00:23</publishTime>
    </File>
    <File Include="System.Console.dll">
      <publishTime>07/13/2020 22:00:29</publishTime>
    </File>
    <File Include="System.Data.Common.dll">
      <publishTime>07/13/2020 22:00:31</publishTime>
    </File>
    <File Include="System.Data.SqlClient.dll">
      <publishTime>07/13/2020 22:00:24</publishTime>
    </File>
    <File Include="System.Diagnostics.DiagnosticSource.dll">
      <publishTime>07/13/2020 22:00:31</publishTime>
    </File>
    <File Include="System.Diagnostics.EventLog.dll">
      <publishTime>07/13/2020 22:01:07</publishTime>
    </File>
    <File Include="System.Diagnostics.FileVersionInfo.dll">
      <publishTime>07/13/2020 22:00:31</publishTime>
    </File>
    <File Include="System.Diagnostics.Process.dll">
      <publishTime>07/13/2020 22:00:31</publishTime>
    </File>
    <File Include="System.Diagnostics.StackTrace.dll">
      <publishTime>01/17/2020 16:50:44</publishTime>
    </File>
    <File Include="System.Diagnostics.Tools.dll">
      <publishTime>01/17/2020 16:49:38</publishTime>
    </File>
    <File Include="System.Diagnostics.TraceSource.dll">
      <publishTime>01/17/2020 16:49:50</publishTime>
    </File>
    <File Include="System.Drawing.Common.dll">
      <publishTime>07/13/2020 22:01:07</publishTime>
    </File>
    <File Include="System.Drawing.Primitives.dll">
      <publishTime>07/13/2020 22:00:31</publishTime>
    </File>
    <File Include="System.IdentityModel.Tokens.Jwt.dll">
      <publishTime>07/13/2020 22:00:25</publishTime>
    </File>
    <File Include="System.Interactive.Async.dll">
      <publishTime>07/13/2020 22:00:25</publishTime>
    </File>
    <File Include="System.IO.Compression.Brotli.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.IO.Compression.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.IO.FileSystem.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.IO.FileSystem.Watcher.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.IO.MemoryMappedFiles.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.IO.Pipelines.dll">
      <publishTime>07/13/2020 22:01:07</publishTime>
    </File>
    <File Include="System.IO.Pipes.dll">
      <publishTime>07/13/2020 22:00:32</publishTime>
    </File>
    <File Include="System.Linq.dll">
      <publishTime>07/13/2020 22:00:38</publishTime>
    </File>
    <File Include="System.Linq.Expressions.dll">
      <publishTime>07/13/2020 22:00:38</publishTime>
    </File>
    <File Include="System.Linq.Queryable.dll">
      <publishTime>07/13/2020 22:00:38</publishTime>
    </File>
    <File Include="System.Memory.dll">
      <publishTime>01/17/2020 16:50:04</publishTime>
    </File>
    <File Include="System.Net.Http.dll">
      <publishTime>07/13/2020 22:00:39</publishTime>
    </File>
    <File Include="System.Net.NameResolution.dll">
      <publishTime>07/13/2020 22:00:39</publishTime>
    </File>
    <File Include="System.Net.NetworkInformation.dll">
      <publishTime>07/13/2020 22:00:39</publishTime>
    </File>
    <File Include="System.Net.Primitives.dll">
      <publishTime>07/13/2020 22:00:39</publishTime>
    </File>
    <File Include="System.Net.Requests.dll">
      <publishTime>07/13/2020 22:00:40</publishTime>
    </File>
    <File Include="System.Net.Security.dll">
      <publishTime>07/13/2020 22:00:40</publishTime>
    </File>
    <File Include="System.Net.ServicePoint.dll">
      <publishTime>07/13/2020 22:00:40</publishTime>
    </File>
    <File Include="System.Net.Sockets.dll">
      <publishTime>07/13/2020 22:00:40</publishTime>
    </File>
    <File Include="System.Net.WebHeaderCollection.dll">
      <publishTime>07/13/2020 22:00:40</publishTime>
    </File>
    <File Include="System.Net.WebSockets.dll">
      <publishTime>07/13/2020 22:00:41</publishTime>
    </File>
    <File Include="System.ObjectModel.dll">
      <publishTime>07/13/2020 22:00:41</publishTime>
    </File>
    <File Include="System.Private.CoreLib.dll">
      <publishTime>01/17/2020 02:47:58</publishTime>
    </File>
    <File Include="System.Private.DataContractSerialization.dll">
      <publishTime>07/13/2020 22:00:42</publishTime>
    </File>
    <File Include="System.Private.Uri.dll">
      <publishTime>01/17/2020 16:48:28</publishTime>
    </File>
    <File Include="System.Private.Xml.dll">
      <publishTime>07/13/2020 22:00:47</publishTime>
    </File>
    <File Include="System.Private.Xml.Linq.dll">
      <publishTime>07/13/2020 22:00:42</publishTime>
    </File>
    <File Include="System.Reflection.Metadata.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Runtime.CompilerServices.Unsafe.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Runtime.dll">
      <publishTime>01/17/2020 16:51:18</publishTime>
    </File>
    <File Include="System.Runtime.Extensions.dll">
      <publishTime>01/17/2020 16:48:32</publishTime>
    </File>
    <File Include="System.Runtime.InteropServices.dll">
      <publishTime>01/17/2020 16:48:32</publishTime>
    </File>
    <File Include="System.Runtime.InteropServices.RuntimeInformation.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Runtime.Numerics.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Runtime.Serialization.Formatters.dll">
      <publishTime>01/17/2020 16:50:00</publishTime>
    </File>
    <File Include="System.Runtime.Serialization.Primitives.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Security.AccessControl.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Security.Claims.dll">
      <publishTime>07/13/2020 22:00:48</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Algorithms.dll">
      <publishTime>07/13/2020 22:00:49</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Cng.dll">
      <publishTime>07/13/2020 22:00:49</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Csp.dll">
      <publishTime>07/13/2020 22:00:49</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Encoding.dll">
      <publishTime>07/13/2020 22:00:49</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Pkcs.dll">
      <publishTime>07/13/2020 22:01:08</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Primitives.dll">
      <publishTime>07/13/2020 22:00:49</publishTime>
    </File>
    <File Include="System.Security.Cryptography.X509Certificates.dll">
      <publishTime>07/13/2020 22:00:50</publishTime>
    </File>
    <File Include="System.Security.Cryptography.Xml.dll">
      <publishTime>07/13/2020 22:01:08</publishTime>
    </File>
    <File Include="System.Security.Permissions.dll">
      <publishTime>07/13/2020 22:01:08</publishTime>
    </File>
    <File Include="System.Security.Principal.dll">
      <publishTime>01/17/2020 16:48:36</publishTime>
    </File>
    <File Include="System.Security.Principal.Windows.dll">
      <publishTime>07/13/2020 22:00:50</publishTime>
    </File>
    <File Include="System.Text.Encoding.CodePages.dll">
      <publishTime>07/13/2020 22:00:50</publishTime>
    </File>
    <File Include="System.Text.Encodings.Web.dll">
      <publishTime>07/13/2020 22:00:50</publishTime>
    </File>
    <File Include="System.Text.Json.dll">
      <publishTime>07/13/2020 22:00:50</publishTime>
    </File>
    <File Include="System.Text.RegularExpressions.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="System.Threading.Channels.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="System.Threading.dll">
      <publishTime>01/17/2020 16:48:38</publishTime>
    </File>
    <File Include="System.Threading.Tasks.Parallel.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="System.Transactions.Local.dll">
      <publishTime>07/13/2020 22:00:51</publishTime>
    </File>
    <File Include="System.Windows.Extensions.dll">
      <publishTime>07/13/2020 22:01:08</publishTime>
    </File>
    <File Include="tr/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="tr/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:02</publishTime>
    </File>
    <File Include="tr/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="ucrtbase.dll">
      <publishTime>04/20/2018 07:37:42</publishTime>
    </File>
    <File Include="web.config">
      <publishTime>07/13/2020 22:01:13</publishTime>
    </File>
    <File Include="zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="zh-Hans/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:02</publishTime>
    </File>
    <File Include="zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
    <File Include="zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll">
      <publishTime>08/14/2019 23:21:24</publishTime>
    </File>
    <File Include="zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:21:32</publishTime>
    </File>
    <File Include="zh-Hant/Microsoft.CodeAnalysis.resources.dll">
      <publishTime>08/14/2019 23:20:02</publishTime>
    </File>
    <File Include="zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll">
      <publishTime>08/14/2019 23:20:54</publishTime>
    </File>
  </ItemGroup>
</Project>