.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 99vw;
	height: 100%;

	&-layer {
		background-image: linear-gradient(
			233deg,
			rgba(0, 92, 159, 0.8) 0%,
			rgba(18, 50, 115, 0.8) 100%
		);
		opacity: 1;
		z-index: 15;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-wrapper {
		border-radius: 50px;
		left: calc(50% - 21.145vw);
		top: 15%;
		position: fixed;
		width: 42.29vw;
		height: 70%;
		overflow: hidden;
		z-index: 20;
		background: #ffffff;

		display: grid;
		grid-template-rows: 2rem 3.125rem calc(100% - 7.125rem) 2rem;
		grid-template-columns: $column 1fr $column;
		grid-template-areas:
			". . ."
			". h x"
			". c ."
			". . .";

		&-header {
			grid-area: h;
			display: grid;
			align-items: center;

			> h1 {
				color: #123273;
				font-family: "IBM Plex Sans";
				font-size: 2.4rem;
				font-weight: 500;
				margin: 0;
			}
		}

		&-cross {
			grid-area: x;
			display: grid;
			justify-items: start;
			align-items: center;

			img {
				width: $column * 0.4;
				height: auto;
			}
		}

		&-content {
			grid-area: c;
			display: grid;
			width: 100%;
			height: 100%;
		}
	}

	&-testadd {
		display: grid;
		grid-auto-rows: min-content;
		grid-template-columns: 100%;
		gap: 20px;
		grid-template-areas: "text" "min" "input" "submit";
		justify-items: start;
		align-items: start;
		overflow-x: hidden;

		&-text {
			p {
				color: #838383;
				font-family: "IBM Plex Sans";
				font-size: 1.56rem;
				font-weight: 400;
			}
			grid-area: text;
		}

		&-min {
			display: grid;
			grid-template-columns: 38px calc(100% - 38px);
			grid-template-rows: 1fr;
			grid-template-areas: "image minamount";
			gap: 0 10px;
			align-items: center;
			width: 446px;
			img {
				width: 38px;
				height: 39px;
				grid-area: image;
			}

			p {
				margin: 0;
				color: #123273;
				font-family: "IBM Plex Sans";
				font-size: 1.56rem;
				font-weight: 500;
				grid-area: minamount;
			}

			grid-area: min;
		}

		&-form {
			display: grid;
			grid-template-columns: 100%;
			grid-auto-rows: min-content;
			gap: 25px;
			grid-auto-flow: row;
			&-amount {
				width: 100%;
				height: 38px;
				font-size: 25px;
				font-weight: 500;
				text-align: left;
				color: #838383;
				background-color: #ebebeb;
				border: none;
				border-radius: 7px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
				padding: 5px 25px;
				::placeholder {
					color: #838383;
					opacity: 0.7;
				}
				::-webkit-input-placeholder {
					color: #838383;
					opacity: 0.7;
				}
			}

			button {
				@include button(220px, $button-height, $button-font-size);
				@include button-light();
				&[disabled] {
					border-color: #ebebeb;
					color: #838383;
					background-color: #ebebeb;
				}
			}
		}
	}

	&-exchange {
		grid-template-columns: 50% 50%;
		grid-template-rows: repeat(5, 20%);
		grid-template-areas: "h r" "f f" "f f" "f f" "f f";
		justify-self: start;

		h1,
		h2,
		h3 {
			margin: 0;
		}

		&-header {
			grid-area: h;
			// Style for "From USD t"
			h4 {
				color: #123273;
				font-weight: 500 !important;
				text-align: left;
			}
		}

		&-rate {
			grid-area: r;
			h5 {
				font-size: 1rem !important;
				text-align: left;
			}
		}

		&-bluetext {
			font-family: "IBM Plex Sans";
			text-align: center;
			color: #123273;
		}

		&-greytext {
			font-family: "IBM Plex Sans";
			text-align: center;
			color: #838383;
		}

		&-form {
			grid-area: f;
			height: 100%;
			display: grid;
			grid-template-columns: 100%;
			gap: 0;
			grid-template-rows:
				calc(100% / 12) repeat(3, calc(100% / 6)) calc(100% / 12)
				repeat(2, calc(100% / 6));
			grid-template-areas:
				"l1"
				"c1"
				"im"
				"im"
				"l2"
				"c2"
				"bt";
			align-self: center;

			> h5 {
				color: #123273;
				align-self: start;
				font-size: 1rem !important;
			}

			&-label1 {
				grid-area: l1;
			}

			&-label2 {
				grid-area: l2;
			}

			&-cur1 {
				grid-area: c1;
			}

			&-cur2 {
				grid-area: c2;
			}

			&-img {
				grid-area: im;
				justify-self: center;
				img {
					max-height: 122px;
					height: 7rem;
				}
			}

			&-input {
				background-color: #ebebeb;
				border-radius: 10px;
				border: none;
				height: 3rem;
				width: 100%;
				font-size: 1.2rem;
				text-align: left;
				font-family: "IBM Plex Sans";
				padding-left: 10px;
				color: #123273;

				&:placeholder {
					color: #838383;
				}
			}

			&-button {
				grid-area: bt;
				align-self: end;
				width: 40%;
				height: 80%;
				border-radius: 30px;
				text-align: center;
				font-family: "IBM Plex Sans";
				font-size: 1.2rem;
				border: 3px solid #ed7102;
				background-color: #ffffff;
				color: #ed7102;
				font-weight: 500;
				&:hover {
					background-color: #ed7102;
					color: #ffffff;
				}
				&[disabled] {
					border-color: #ebebeb;
					color: #838383;
					background-color: #ebebeb;
				}
			}
		}
	}
}
