$section: "career";
.#{$section} {
  &-wrapper {
    padding-top: 92px;
    padding-bottom: 86px;
    display: grid;
    grid-template-columns: 56.4% 43.6%;
    grid-template-rows: 117px 1fr;
    grid-gap: 0;
    grid-template-areas: $section+"-header "+$section+"-header" $section+"-scheme "+$section+"-text";
  }
  &-header {
    grid-area: #{$section+"-header"};

    h1 {
      font-family: "IBM Plex Sans";
      font-size: 50px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
    h2 {
      font-family: "IBM Plex Sans";
      font-size: 40px;
      font-weight: 400;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
  }
  &-scheme {
    grid-area: #{$section+"-scheme"};
    padding-top: 40px;
    img {
      width: 100%;
    }
  }
  &-text {
    grid-area: #{$section+"-text"};
    justify-self: center;
    p {
      margin-left: 20.9%;
      width: 72.9%;
      font-family: 'IBM Plex Sans';
      font-size: 35px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      color: #005c9f;
      text-align: left;
      line-height: 1.3;
    }
  }
}
