$section: "defimatoken";
.#{$section} {
  &-wrapper {
    padding: 92px 0 99px 0;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 49.95% 100%-49.95%;
    grid-template-areas: $section+"-image "+$section+"-content"
  }
  &-image {
    grid-area: #{$section+"-image"};

    img {
      margin-left: -15.12%;
      margin-top: 20px;
      width: 100%;
    }
  }
  &-content {
    grid-area: #{$section+"-content"};
    display: grid;
    grid-template-rows: 72px calc(100% - 72px);
    grid-template-columns: 1fr;
    grid-template-areas: $section+"-content-header" $section+"-content-text";
    &-header {
      grid-area: #{$section+"-content-header"};
      justify-self: start;
      align-self: center;
      h1 {
        font-family: "IBM Plex Sans";
        font-size: 50px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    &-text {
      grid-area: #{$section+"-content-text"};
      justify-self: start;
      p {
        margin: 34px 0 0 0;
        width: 74.86%;
        font-family: 'IBM Plex Sans';
        font-size: 1.3vw;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

      }
    }
  }
}
