.faq {
    &-wrapper {
        padding-top: 91px;
        padding-bottom: 137px;

    display: grid;
    grid-template-rows: minmax(min-content, 159px) min-content;
    grid-template-columns: 40.98% 59.02%;
    grid-template-areas: 'faq-header faq-topic' 'faq-text faq-topic';
  }
  &-header {
    grid-area: faq-header;
    h1 {
      max-width: 69.57%;
      font-family: IBMPlexSans;
      font-size: 50px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
    &-header {
        grid-area: faq-header;
        h1 {
            max-width: 69.57%;
            font-family: IBMPlexSans;
            font-size: 50px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: normal;
            text-align: left;
            color: #005c9f;
        }
    }
    &-text {
        grid-area: faq-text;

    p {
      margin: 17px 0;
      max-width: 69.57%;
      font-family: IBMPlexSans;
      font-size: 25px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #838383;
    }
    &-topic {
        grid-area: faq-topic;

    display: grid;
    grid-template-rows: repeat(min-content, 4);
    grid-template-columns: 90%;
    grid-template-areas: 'faq-topic-1' 'faq-topic-2' 'faq-topic-3' 'faq-button';
    justify-items: start;
    gap: 20px 0;

                display: grid;
                grid-template-rows: fit-content(99px);
                grid-template-columns: repeat(2, min-content);
                grid-template-areas: "faq-question faq-arrow";
                align-items: center;
                &-opened {
                    width: 100%;
                    padding-left: 41px;
                    padding-right: 41px;
                    border-radius: 25px;
                    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.05);
                    background-color: #ffffff;
                    grid-area: faq-topic-#{$i};

        display: grid;
        grid-template-rows: fit-content(99px);
        grid-template-columns: repeat(min-content, 2);
        grid-template-areas: 'faq-question faq-arrow';
        align-items: center;
        &-opened {
          width: 100%;
          padding-left: 41px;
          padding-right: 41px;
          border-radius: 25px;
          box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          grid-area: faq-topic-#{$i};

          display: grid;
          grid-template-rows: fit-content(99px) min-content;
          grid-template-columns: repeat(min-content, 2);
          grid-template-areas: 'faq-question faq-arrow' 'faq-answer faq-answer';
          align-items: center;
        }

        &-arrow {
            justify-self: end;
            grid-area: faq-arrow;
            height: 35px;
            width: 35px;
            background-color: #ffffff;
            border-top: 2px solid #707070;
            border-right: 2px solid #707070;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            &-opened {
                justify-self: end;
                grid-area: faq-arrow;
                height: 35px;
                width: 35px;
                background-color: #ffffff;
                border-top: 2px solid #707070;
                border-right: 2px solid #707070;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        &-answer {
            display: none;
            &-opened {
                grid-area: faq-answer;
                display: block;
                padding: 17px 0 35px 0;
                border-top: 1px solid rgba(112, 112, 112, 0.1);

    &-arrow {
      justify-self: end;
      grid-area: faq-arrow;
      height: 2.1875rem;
      width: 2.1875rem;
      background-color: #ffffff;
      border-top: 2px solid #707070;
      border-right: 2px solid #707070;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      &-opened {
        justify-self: end;
        grid-area: faq-arrow;
        height: 2.1875rem;
        width: 2.1875rem;
        background-color: #ffffff;
        border-top: 2px solid #707070;
        border-right: 2px solid #707070;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    &-answer {
      display: none;
      &-opened {
        grid-area: faq-answer;
        display: block;
        padding: 17px 0 35px 0;
        border-top: 1px solid rgba(112, 112, 112, 0.1);

        p {
          width: 100%;
          margin: 0;
          font-family: IBMPlexSans;
          font-size: 25px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.32;
          letter-spacing: normal;
          text-align: left;
          color: #838383;
        }

        &-button {
            grid-area: faq-button;
            justify-self: end;
            button {
                display: block;
                width: 220px;
                height: 60px;
                border-radius: 30px;
                border: 3px solid #ed7102;
                background-color: #ffffff;

                font-family: IBMPlexSans;
                font-size: 25px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.29;
                letter-spacing: normal;
                text-align: center;
                color: #ed7102;

                padding: 13px 42px 13px 43px;

                &:hover {
                    background-color: #ed7102;
                    color: #ffffff;
                    border: 3px solid #ffffff;
                    line-height: 1.31;
                }
            }
        }
    }
}
