.footer {
  &-wrapper {
    padding: 3.066rem 8.6875rem 6.125rem 8.75rem;
    width: 100%;

    a {
      display: block;

      p {
        margin: 0;
        font-family: 'IBM Plex Sans';
        font-size: 1.5625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    h3 {
      font-family: 'IBM Plex Sans';
      font-size: 1.6875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 12.5625rem minmax(min-content, 2.22fr) minmax(
        min-content,
        1fr
      );
    grid-template-areas: 'footer-logo footer-nav footer-newsletter';
  }
  &-logo {
    grid-area: footer-logo;
    justify-self: start;
    img {
      width: 12.51875rem;
      height: 3.80625rem;
    }
  }
  &-nav {
    grid-area: footer-nav;
    justify-self: center;
    padding: 1.625rem 4.1875rem;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(
      minmax(min-content, calc(100% - 1.875rem) / 3)
    );
    gap: 0rem 1.875rem;
    grid-template-areas: 'footer-nav-company footer-nav-news footer-nav-help';

    &-company {
      justify-self: start;
      grid-area: footer-nav-company;
    }

    &-news {
      justify-self: center;
      grid-area: footer-nav-news;
    }

    &-help {
      justify-self: end;
      grid-area: footer-nav-help;
    }

    &-company,
    &-news,
    &-help {
      display: grid;
      grid-auto-rows: min-content;
      grid-template-columns: 100%;
      gap: 0;
      grid-auto-flow: row;
    }
  }
  &-newsletter {
    grid-area: footer-newsletter;
    justify-self: start;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 100%;
    grid-template-areas: 'footer-header' 'footer-form';
    gap: 32px 0rem;
    &-header {
      grid-area: footer-header;

      h2 {
        font-family: 'IBM Plex Sans';
        font-size: 2.5rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }

    form {
      grid-area: footer-form;

      display: grid;
      grid-template-rows: 2.9375rem 3.75rem;
      grid-template-columns: 100%;
      gap: 4.8125rem 0;
      grid-template-areas: 'input-email' 'input-button';

      .footer-newsletter-input-email {
        grid-area: input-email;
        background: none;
        padding: 0 0 0.65625rem 0;
        border-width: 0 0 0.125rem 0;
        border-bottom-color: #ffffff;
        font-family: 'IBM Plex Sans';
        font-size: 1.5625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #838383;
        ::placeholder {
          color: #ffffff;
          opacity: 0.5;
        }
        ::-webkit-input-placeholder {
          color: #ffffff;
          opacity: 0.5;
        }
      }

      .footer-newsletter-input-button {
        grid-area: input-button;
        display: block;
        width: 13.75rem;
        height: 3.75rem;
        border-radius: 1.875rem;
        border: 0.1875rem solid #ed7102;
        background-color: #ed7102;

        font-family: 'IBM Plex Sans';
        font-size: 1.5625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        padding: 0.8125rem 1.9375rem 0.8125rem 1.9375rem;

        &:hover {
          background-color: #ffffff;
          color: #ed7102;
          border: 0.1875rem solid #ed7102;
          line-height: 1.31;
        }
      }
    }
  }
}
