@import './utils/normalize';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .header-grid-container {
    padding-left: 8.75rem;
    padding-right: 6rem;
  }
  section {
    .wrapper {
      width: 100%;
      padding-left: 8.75rem;
      padding-right: 6rem;
    }
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 12px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-width: 0 0 0.125rem 0;
  border-bottom-color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0rem 62.5rem transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}
