*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-width: 0 0 0.125rem 0;
  -webkit-box-shadow: 0 0 0rem 62.5rem transparent inset;
  transition: background-color 5000s ease-in-out 0.5s;
  background: inherit;
}
