@import '../../mixins/media';

header {
  width: 100%;
  height: 7.5rem;
}
.header-grid-container {
  margin: 0;
  border-bottom-right-radius: 3.75rem;
  border: none;
  background-color: #ffffff;
}

.header-grid-container {
  display: grid;
  grid-template-columns: minmax(12.5rem, 1fr) 1fr;
  grid-template-rows: 7.5rem;
  gap: 0rem 0rem;
  grid-template-areas: 'top-logo-box top-nav-box';
}

.top-logo-box {
  grid-area: top-logo-box;
  align-self: center;
  .Logo {
    width: 12.325rem;
    height: 3.75rem;
    object-fit: contain;
  }
}

.top-nav-box {
  display: grid;
  grid-template-columns: repeat(4, minmax(8.375rem, 1fr)) minmax(13.75rem, 2fr);
  grid-template-rows: 1fr;
  gap: 0.0625rem 0.0625rem;
  grid-template-areas: 'nav-about nav-team nav-blog nav-login nav-signup';
  grid-area: top-nav-box;
  justify-items: center;
  align-items: center;
}

.nav-signup {
  grid-area: nav-signup;
}

.nav-about {
  grid-area: nav-about;
}

.nav-team {
  grid-area: nav-team;
}

.nav-blog {
  grid-area: nav-blog;
}

.nav-login {
  grid-area: nav-login;
}

.nav-bar {
  a {
    font-family: 'IBM Plex Sans';
    font-size: 1.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #005c9f;
    &:hover {
      color: #ed7102;
    }
  }
}
.nav-signup {
  .button-signup {
    width: 12.5rem;
    height: 3.75rem;
    padding: 0.8125rem 2.625rem 0.8125rem 2.6875rem;

    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.32;
    border-radius: 1.875rem;
    border: solid 0.1875rem #ed7102;
  }
  .button-main-inversed {
    font-family: 'IBM Plex Sans';
    text-align: center;
    color: #ed7102;
    background-color: #ffffff;
  }
}
