header {
  width: 100%;
  height: 11vh;
}
.header-grid-container {
  margin: 0;
  border-bottom-right-radius: 60px;
  border: none;
  background-color: #ffffff;

}

.header-grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas: "top-logo-box top-nav-box";
}

.top-logo-box {
  grid-area: top-logo-box;
  align-self: center;
  height: 50%;
  img {
    height: 100%;
    object-fit: contain;
  }
}

.top-nav-box {
  display: grid;
  grid-template-columns: repeat(4, minmax(134px, 1fr)) minmax(220px, 2fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "nav-about nav-team nav-blog nav-login nav-signup";
  grid-area: top-nav-box;
  justify-items: center;
  align-items: center;
}

.nav-signup { grid-area: nav-signup; }

.nav-about { grid-area: nav-about; }

.nav-team { grid-area: nav-team; }

.nav-blog { grid-area: nav-blog; }

.nav-login { grid-area: nav-login; }

.nav-bar {
  a {
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #005c9f;
  }
}
.nav-signup {
  .button-signup {
      width: 200px;
      height: 60px;
      padding: 13px 42px 13px 43px;

      font-size: 28px;
      font-weight: 500;
      line-height: 1.32;
      border-radius: 30px;
      border: solid 3px #ed7102;
  }
  .button-main-inversed {
      font-family: "IBM Plex Sans";
      text-align: center;
      color: #ed7102;
      background-color: #ffffff;
  }
}


