.howitworks {
  margin-top: 79px;
  padding-top: 92px;
  padding-bottom: 103px;
  &-wrapper {
    display: grid;
    grid-template-columns: 9fr 1fr 5fr;
    grid-template-rows: minmax(117px, 1fr) 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "howitworks-header howitworks-image-1 howitworks-caption-1"
      "howitworks-scheme howitworks-image-2 howitworks-caption-2"
      "howitworks-scheme howitworks-image-3 howitworks-caption-3"
      "howitworks-scheme howitworks-image-4 howitworks-caption-4";
  }
  @for $i from 1 through 4 {
    &-image-#{$i} {
      grid-area: #{"howitworks-image-" + $i};
      align-self: start;
      justify-self: start;
      img {
        max-width: 101px;
        max-height: 101px;
        width: 100%;
        margin-right: 10px;
      }
    }

    &-caption-#{$i} {
      grid-area: #{"howitworks-caption-" + $i};
      padding-left: 37px;
      h3 {
        font-family: "IBM Plex Sans";
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #005c9f;
        margin: 0;
      }
      p {
        max-width: 536px;
        font-family: "IBM Plex Sans";
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #838383;
        margin: 0;
      }
    }
  }

  &-header {
    grid-area: howitworks-header;
    padding-right: 66px;
    h1 {
      font-family: "IBM Plex Sans";
      font-size: 50px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
    h2 {
      font-family: "IBM Plex Sans";
      font-size: 40px;
      font-weight: 400;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
  }

  &-scheme {
    grid-area: howitworks-scheme;
    justify-self: center;
    img {
      max-width: 885px;
      width: 90%;
    }
  }
}
