$section: "joinus";
$sub-section: "content";
.#{$section} {
  &-wrapper {
    position: relative;
    z-index: 2;
    padding-top: 10.9375rem;
    padding-bottom: 8.4375rem;

    display: grid;
    grid-template-columns: 57.37% 42.63%;
    grid-template-rows: 8.6875rem 13.75rem min-content;
    gap: 5.0625rem 0;
    grid-template-areas: "gap joinus-header" "gap joinus-content" "gap joinus-buttons";
  }
  &-header {
    grid-area: joinus-header;

    h1 {
      font-family: "IBM Plex Sans";
      font-size: 3.125rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #005c9f;
    }
  }
  &-#{$sub-section} {
    grid-area: #{"joinus-" + $sub-section};

    display: grid;
    grid-template-rows: 3.25rem 3.25rem 3.25rem;
    grid-template-columns: 100%;
    grid-template-areas: "joinus-content-point-1" "joinus-content-point-2" "joinus-content-point-3";
    gap: 2rem 0;
    align-items: center;

    @for $i from 1 through 3 {
      &-point-#{$i} {
        width: 100%;
        grid-area: joinus-content-point-#{$i};
        display: grid;
        grid-template-columns: 3.25rem calc(100% - 5.25rem);
        grid-template-rows: 3.25rem;
        gap: 0 2rem;
        grid-template-areas: "point-check point-text";
        align-items: center;
      }
    }
    &-check {
      grid-area: point-check;
      i {
        font-size: 3.25rem;
        color: #005c9f;
      }
    }
    &-text {
      grid-area: point-text;
      margin-left: 2rem;
      width: calc(100% - 5.25rem);
      p {
        margin: 0;
        font-family: "IBM Plex Sans";
        font-size: 2.1875rem;
        font-weight: 200;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #005c9f;
        span {
          font-weight: 600;
          font-family: "IBM Plex Sans";
          font-size: 2.1875rem;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;

          border-bottom: 7px solid #ed7102;
        }
      }
    }
  }

  &-buttons {
    grid-area: joinus-buttons;

    display: grid;
    grid-template-columns: 15rem 19.6875rem;
    gap: 0 1.875rem;
    grid-template-areas: "joinus-getstarted joinus-download";
    grid-template-rows: 3.75rem;
    align-items: center;
    &-getstarted {
      grid-area: joinus-getstarted;
      display: grid;
      align-items: center;
      justify-items: center;
      width: auto;
      height: 3.75rem;
      border-radius: 1.875rem;
      border: 3px solid #ed7102;
      background-color: #ed7102;
      p {
        margin: 0;
        font-family: "IBM Plex Sans";
        font-size: 1.5625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }

      &:hover {
        background-color: #ffffff;
        p {
          color: #ed7102;
        }
      }
    }
    &-download {
      grid-area: joinus-download;
      display: grid;
      align-items: center;
      justify-items: center;
      width: auto;
      height: 3.75rem;
      border-radius: 1.875rem;
      border: 0.1875rem solid #ed7102;
      background-color: #ffffff;

      p {
        margin: 0;
        font-family: "IBM Plex Sans";
        font-size: 1.5625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #ed7102;
      }

      &:hover {
        background-color: #ed7102;
        p {
          color: #ffffff;
        }
      }
    }
  }
}
