$section: "portfolio";
.#{$section} {
  &-wrapper {
    padding-top: 43px;
    padding-bottom: 103px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 117px 1fr;
    gap: 0;
    grid-template-areas: $section+"-header" $section+"-product";
  }
  $sub-section: "product";
  &-#{$sub-section} {
    grid-area: #{$section+"-"+$sub-section};
    align-items: center;
    justify-items: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: 452px;
    gap: 0px 0px;

    padding-top: 85px;

    $content: "";
    @for $j from 1 through 3 {
      $content: $content + $section + "-" + $sub-section + "-" + $j + " "
    }

    grid-template-areas: $content;

    @for $i from 1 through 3 {
      &-#{$i} {
        grid-area: #{$section+"-"+$sub-section+"-"+$i};
        justify-self: center;
        background: #ffffff;
        border-radius: 20px;
        height: 100%;
        width: 322px;
        justify-content: center;
      }
    }

    a {
      display: block;
      width: 207.4px;
      height: 50.5px;
      background-image: linear-gradient(77deg, #16428d 1%, #005c9f 78%);
      margin: auto;
      border-radius: 25px;
      font-family: 'IBM Plex Sans';
      font-size: 21px;
      color: #f5fbff;
      line-height: 1.33;
      padding: 9px 74px 13px 74px;

    }
    &-header {
      display: grid;
      align-items: center;
      width: 100%;
      height: 21.4%;
      background-image: linear-gradient(-36deg, #005c9f 0%, #123273 100%);
      border-radius: 20px 20px 0 0;
      background-blend-mode: overlay;
      h3 {
        font-family: IBMPlexSans;
        font-size: 27px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
    p {
      margin: 28px auto;
      width: 210px;
      font-family: IBMPlexSans;
      font-size: 21px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #595b60;
    }
  }

  &-header {
    grid-area: portfolio-header;
    h1 {
      font-family: IBMPlexSans;
      font-size: 50px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    h2 {
      font-family: IBMPlexSans;
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
