input {
	&:focus {
		outline: none;
		background: transparent;
	}
	&:-webkit-autofill {
		border-width: 0 0 2px 0;
		border-bottom-color: #ffffff;
		-webkit-text-fill-color: #ffffff;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		&:hover {
			border-width: 0 0 2px 0;
			border-bottom-color: #ffffff;
			-webkit-text-fill-color: #ffffff;
			-webkit-box-shadow: 0 0 0px 1000px transparent inset;
			transition: background-color 5000s ease-in-out 0s;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		}
		&:focus {
			input {
				&:-webkit-autofill {
					border-width: 0 0 2px 0;
					border-bottom-color: #ffffff;
					-webkit-text-fill-color: #ffffff;
					-webkit-box-shadow: 0 0 0px 1000px transparent inset;
					transition: background-color 5000s ease-in-out 0s;
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
				}
			}
		}
	}
}
select {
	&:focus {
		outline: none;
		background: transparent;
	}
	&:-webkit-autofill {
		border-width: 0 0 2px 0;
		border-bottom-color: #ffffff;
		-webkit-text-fill-color: #ffffff;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		&:hover {
			border-width: 0 0 2px 0;
			border-bottom-color: #ffffff;
			-webkit-text-fill-color: #ffffff;
			-webkit-box-shadow: 0 0 0px 1000px transparent inset;
			transition: background-color 5000s ease-in-out 0s;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		}
		&:focus {
			border-width: 0 0 2px 0;
			border-bottom-color: #ffffff;
			-webkit-text-fill-color: #ffffff;
			-webkit-box-shadow: 0 0 0px 1000px transparent inset;
			transition: background-color 5000s ease-in-out 0s;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		}
	}
}
textarea {
	&:focus {
		outline: none;
		background: transparent;
	}
	&:-webkit-autofill {
		border-width: 0 0 2px 0;
		border-bottom-color: #ffffff;
		-webkit-text-fill-color: #ffffff;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
		&:hover {
			textarea {
				&:-webkit-autofill {
					&:focus {
						border-width: 0 0 2px 0;
						border-bottom-color: #ffffff;
						-webkit-text-fill-color: #ffffff;
						-webkit-box-shadow: 0 0 0px 1000px transparent inset;
						transition: background-color 5000s ease-in-out 0s;
						background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
					}
				}
			}
		}
	}
}
button {
	&:focus {
		outline: none;
		background: transparent;
	}
}
.signup-wrapper {
	background-image: url({waveimage}), linear-gradient(to right, #001029 0%, #235fc8 100%);
	background-color: #113779;
	background-position: center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 1fr 814px 1fr;
	grid-template-rows: 100px auto;
	grid-template-areas: ". . ." ". signup-box .";
	grid-area: content;
}
.signup-box {
	display: grid;
	grid-template-columns: 407px 407px;
	grid-template-rows: 67px 17px 80px 80px 80px 80px 216px;
	gap: 40px 20px;
	align-items: start;
	justify-items: center;
	grid-template-areas: "box-header box-header" ". ." "box-firstname box-lastname" "box-email box-username" "box-password box-repeatpassword" "box-termsagree box-countrycheck" "box-bottomcontainer box-bottomcontainer";
	grid-area: signup-box;
	&-error {
		grid-template-rows: 45px 20px;
		gap: 10px;
		grid-template-columns: 100%;
		grid-template-areas: "input" "error";
	}
	.error {
		grid-area: error;
		margin-top: 10px;
	}
}
.signup-box-header {
	grid-area: box-header;
	h1 {
		grid-area: box-header;
		font-size: 60px;
		font-weight: 500;
		color: #ffffff;
		font-family: "IBM Plex Sans";
	}
	>h2 {
		font-size: 2rem;
		font-weight: 500;
		color: #ffffff;
		font-family: "IBM Plex Sans";
	}
}
.signup-form {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	height: 45px;
	width: 407px;
	opacity: 0.7;
	color: #ffffff;
	font-size: 2rem;
	text-align: left;
	font-family: "IBM Plex Sans";
	grid-area: input;
}
.signup-box-firstname {
	grid-area: box-firstname;
}
.signup-box-lastname {
	grid-area: box-lastname;
}
.signup-box-email {
	grid-area: box-email;
}
.signup-box-username {
	grid-area: box-username;
}
.signup-box-password {
	grid-area: box-password;
}
.signup-box-repeatpassword {
	grid-area: box-repeatpassword;
}
.signup-box-termsagree {
	grid-area: box-termsagree;
	height: 100%;
}
.signup-form-termsagree {
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark-termsagree {
					background-color: #ffffff;
				}
			}
		}
	}
	display: block;
	position: relative;
	padding-left: 45px;
	cursor: pointer;
	font-size: 1.2rem;
	user-select: none;
	font-family: "IBM Plex Sans";
	color: white;
	height: 100%;
	a {
		color: white;
	}
	&:hover {
		input {
			~ {
				.checkmark-termsagree {
					background: rgba(245,251,255,0.2);
				}
			}
		}
	}
}
.checkmark-termsagree {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: rgba(245,251,255,0);
	border: 3px solid #f5fbff;
	border-radius: 10px;
}
.signup-box-countrycheck {
	grid-area: box-countrycheck;
	height: 100%;
	align-self: center;	
}
.signup-form-countrycheck {
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark-countrycheck {
					background-color: #ffffff;
				}
			}
		}
	}
	display: block;
	position: relative;
	padding-left: 45px;
	cursor: pointer;
	font-size: 1.2rem;
	user-select: none;
	font-family: "IBM Plex Sans";
	color: white;
	height: 100%;
	&:hover {
		input {
			~ {
				.checkmark-countrycheck {
					background: rgba(245,251,255,0.2);
				}
			}
		}
	}
}
.checkmark-countrycheck {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: rgba(245,251,255,0);
	border: 3px solid #f5fbff;
	border-radius: 10px;
}
.signup-box-bottomcontainer {
	display: grid;
	grid-template-columns: 1fr 300px 1fr;
	grid-template-rows: 60px 60px 60px;
	grid-template-areas: ". bottomcontainer-button ." ". bottomcontainer-signin ." ". bottomcontainer-footer .";
	grid-area: box-bottomcontainer;
}
.signup-box-bottomcontainer-button {
	grid-area: bottomcontainer-button;
}
.signup-form-button {
	width: 292px;
	height: 60px;
	border-radius: 30px;
	border: 3px solid #ed7102;
	background-color: #ed7102;
	font-size: 1.3rem;
	user-select: none;
	font-family: "IBM Plex Sans";
	color: white;
}
.signup-box-bottomcontainer-signin {
	grid-area: bottomcontainer-signin;
	font-size: 1rem;
	user-select: none;
	font-family: "IBM Plex Sans";
	color: white;
	text-align: center;
	a {
		grid-area: bottomcontainer-footer;
		color: white;
		text-decoration: underline;
		font-weight: 700;
	}
}
.signup-box-bottomcontainer-footer {
	grid-area: bottomcontainer-footer;
	font-size: 1rem;
	user-select: none;
	font-family: "IBM Plex Sans";
	color: white;
	text-align: center;
	a {
		grid-area: bottomcontainer-footer;
		color: white;
		margin: 8px;
	}
}
