.dash {
    width: 100%;
    .dash-wrapper {
        margin: 0;
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 100px 1fr;
        gap: 0;
        grid-template-areas: "header header" "sidebar dash-content";
    }

    .dash-wrapper-closed {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 100px 1fr;
        gap: 0;
        grid-template-areas: "header header" "sidebar dash-content";
    }

    .dash-header {
        grid-area: header;
    }

    .sidebar-wrapper,
    .sidebar-wrapper-closed {
        grid-area: sidebar;
    }

    .contentbox {
        grid-area: dash-content;
    }
    .investments-wrapper {
        grid-area: dash-content;
    }
}
