.sidebar-wrapper {
    background-image: linear-gradient(19deg, #0b1f48 0%, #005c9f 100%);
    min-height: 89.9vh;
    padding: 0 25px;
    box-sizing: padding-box;
    h3 {
        // Style for "Investment"
        color: #f5fbff;
        font-family: "IBM Plex Sans";
        @include fontsize(22);
        font-weight: 500;
        margin: 0;
    }
}

.sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
    gap: 13px 0px;
    grid-template-areas: "sidebar-burger" "sidebar-dash" "sidebar-investment" "sidebar-team" "sidebar-marketing" "sidebar-history" "sidebar-support" "sidebar-time";
    grid-area: sidebar;


    &-burger {
        grid-area: sidebar-burger;
        align-self: center;
        width: 1em;
        height: auto;
        font-size: 2rem;
        fill: #ffffff;
        stroke: #ffffff;
    }

    &-dash {
        grid-area: sidebar-dash;
        width: 100%;
    }

    &-investment {
        grid-area: sidebar-investment;
        width: 100%;
    }

    &-team {
        grid-area: sidebar-team;
        width: 100%;
    }

    &-marketing {
        grid-area: sidebar-marketing;
        width: 100%;
    }

    &-history {
        grid-area: sidebar-history;
        width: 100%;
    }

    &-support {
        grid-area: sidebar-support;
        width: 100%;
    }

    &-time {
        grid-area: sidebar-time;
        width: 100%;
        p {
            // Style for "Server Tim"
            color: #ffffff;
            font-family: "IBM Plex Sans";
            @include fontsize(18);
            font-weight: 400;
        }
    }

    &-bar {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 60% 20%;
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;
        border-radius: 15px;
        &:hover {
            background-color: #ffffff;
            h3 {
                color: #123273;
            }
            color: #123273;
            >.sidebar-bar-icon,
            >.sidebar-bar-arrow {
                fill: #123273;
                stroke: #123273;
            }
        }
        &-icon {
            justify-self: end;
            height: 1em;
            width: 1em;
            font-size: 1.6rem;
            fill: #ffffff;
            stroke: #ffffff;
        }

        &-arrow {
            height: 1em;
            width: 1em;
            font-size: 2.2rem;
            fill: #ffffff;
            stroke: #ffffff;
        }
    }
    &-bar-selected {
        background-color: #ffffff;
        h3 {
            color: #123273!important;
        }
        color: #123273;

        .sidebar-bar-icon {
            height: 1em;
            width: 1em;
            font-size: 1.6rem;
            fill: #123273;
            stroke: #123273;
        }

        .sidebar-bar-arrow {
            height: 1em;
            width: 1em;
            font-size: 2.2rem;
            fill: #123273;
            stroke: #123273;
        }
    }
}

.sidebar-wrapper-closed {
    background-image: linear-gradient(19deg, #0b1f48 0%, #005c9f 100%);
    min-height: 89.9vh;
    padding: 0;
    box-sizing: padding-box;
}

.sidebar-closed {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
    gap: 13px 0px;
    grid-template-areas: "sidebar-burger" "sidebar-dash" "sidebar-investment" "sidebar-team" "sidebar-marketing" "sidebar-history" "sidebar-support" "sidebar-time";
    grid-area: sidebar;
    justify-items: center;

    .sidebar-burger {
        grid-area: sidebar-burger;
        align-self: center;
        width: 1em;
        height: auto;
        font-size: 2rem;
        fill: #ffffff;
        stroke: #ffffff;
    }

    .sidebar-dash {
        grid-area: sidebar-dash;
        width: 100%;
    }

    .sidebar-investment {
        grid-area: sidebar-investment;
        width: 100%;
    }

    .sidebar-team {
        grid-area: sidebar-team;
        width: 100%;
    }

    .sidebar-marketing {
        grid-area: sidebar-marketing;
        width: 100%;
    }

    .sidebar-history {
        grid-area: sidebar-history;
        width: 100%;
    }

    .sidebar-support {
        grid-area: sidebar-support;
        width: 100%;
    }

    .sidebar-time {
        grid-area: sidebar-time;
        width: 100%;
        p {
            display: none;
            // Style for "Server Tim"
            color: #ffffff;
            font-family: "IBM Plex Sans";
            @include fontsize(18);
            font-weight: 400;
        }
    }

    .sidebar-bar-closed {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;

        &:hover {
            background-color: #ffffff;
            h3 {
                color: #123273;
            }
            color: #123273;
            >.sidebar-bar-icon {
                fill: #123273;
                stroke: #123273;
            }
        }
        .sidebar-bar-arrow,
        .sidebar-bar-text {
            display: none;
        }
        .sidebar-bar-icon {
            justify-self: center;
            height: 1em;
            width: 1em;
            font-size: 1.6rem;
            fill: #ffffff;
            stroke: #ffffff;
        }
    }
    .sidebar-bar-closed-selected {
        background-color: #ffffff;
        h3 {
            color: #123273!important;
        }
        color: #123273;
        .sidebar-bar-icon {
            height: 1em;
            width: 1em;
            font-size: 1.6rem;
            fill: #123273;
            stroke: #123273;
        }
    }
}
